<div class="component-admin-try">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <div class="admin-heading" *ngIf="!tryId">
                Create Try
            </div>
            <div class="admin-heading" *ngIf="tryId">
                Edit Try
            </div>
            <div>
                <button class="btn btn-default" routerLink="/admin/try/event"><i class="material-icons align-text-bottom">
                    arrow_back
                </i> <span>Back</span></button>
            </div>
        </div>
    </div>
    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter name" [(ngModel)]="try.cntnts_nm"
                                   formControlName="name" name="name"/>
                            <div *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.name.errors.required">
                                    Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Text Color</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ng-select [items]="timeColorCodes" [(ngModel)]="try.time_color_code" bindValue="code"
                                       bindLabel="code_nm"
                                       formControlName="time_color_code" name="time_color_code" [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    <span>{{ item.code_nm }}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Output Text</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div>
                                <mat-radio-group [(ngModel)]="output_text_type" formControlName="output_text_type">
                                    <mat-radio-button value="1">Countdown</mat-radio-button>
                                    <mat-radio-button value="2">Custom text</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="output_text_type == '2'">
                            <input type="text" class="form-control" placeholder="Enter output text" [(ngModel)]="try.goods_txt" name="url" formControlName="goods_txt"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Short Description</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="try.short_desc"
                                      formControlName="short_description" name="short_description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Description</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ck-editor [(ngModel)]="try.goods_dc" skin="moono-lisa" language="en" [fullPage]="true"
                                       formControlName="description" name="description"></ck-editor>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>{{ "is_disabled" | translate }}</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ui-switch size="small" formControlName="is_disabled" [(ngModel)]="try.is_disabled"
                                       color="#FF65B1"></ui-switch>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Brand</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ng-select [items]="brands" [(ngModel)]="try.brnd_code" bindValue="code" bindLabel="code_nm"
                                       formControlName="brand_id" name="brand_id" [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    <span>{{ item.code_nm }}</span>
                                </ng-template>
                            </ng-select>

                            <div *ngIf="form.controls.brand_id.invalid && (form.controls.brand_id.dirty || form.controls.brand_id.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.brand_id.errors.required">
                                    Brand is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Category</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ng-select [items]="categories" [(ngModel)]="try.goods_cl_code" bindValue="code"
                                       bindLabel="code_nm"
                                       formControlName="category_id" name="category_id" [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    <span>{{ item.code_nm }}</span>
                                </ng-template>
                            </ng-select>

                            <div *ngIf="form.controls.category_id.invalid && (form.controls.category_id.dirty || form.controls.category_id.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.category_id.errors.required">
                                    Category is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Model</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter model" [(ngModel)]="try.modl_nombr"
                                   formControlName="model" name="model"/>
                            <div *ngIf="form.controls.model.invalid && (form.controls.model.dirty || form.controls.model.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.model.errors.required">
                                    Model is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Product Url</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter url"
                                   [(ngModel)]="try.link_url"
                                   formControlName="product_url" name="product_url"/>
                            <div *ngIf="form.controls.product_url.invalid && (form.controls.product_url.dirty || form.controls.product_url.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.product_url.errors.required">
                                    Product Url is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Type</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <mat-radio-group class="radio-group radio-group-type" [(ngModel)]="try.event_knd_code"
                                             formControlName="type" name="type">
                                <mat-radio-button class="radio-button" [value]="398001">Paid</mat-radio-button>
                                <mat-radio-button class="radio-button" [value]="398002">Free</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Price</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter price" [(ngModel)]="try.goods_pc"
                                   formControlName="price" name="price"/>
                            <div *ngIf="form.controls.price.invalid && (form.controls.price.dirty || form.controls.price.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.price.errors.required">
                                    Price is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="try.event_knd_code == 398001">
                    <div class="col-md-3">
                        <label>Sale Price</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter sale price"
                                   [(ngModel)]="try.event_pc"
                                   formControlName="sale_price" name="sale_price"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Start Date</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="calendar-control">
                                <label class="example-input-wrapper">
                                    <!-- <input placeholder="Date Time:"
                                           formControlName="start_date"
                                           [(ngModel)]="try.event_bgnde"
                                           [owlDateTimeTrigger]="start_date"
                                           class="form-control"
                                           [owlDateTime]="start_date">
                                    <owl-date-time #start_date></owl-date-time> -->
                                </label>
                            </div>
                            <div *ngIf="form.controls.start_date.invalid && (form.controls.start_date.dirty || form.controls.start_date.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.start_date.errors.required">
                                    Start Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>End Date</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="calendar-control">
                                <label class="example-input-wrapper">
                                    <!-- <input placeholder="Date Time:"
                                           formControlName="end_date"
                                           [(ngModel)]="try.event_endde"
                                           [owlDateTimeTrigger]="end_date"
                                           class="form-control"
                                           [owlDateTime]="end_date">
                                    <owl-date-time #end_date></owl-date-time> -->
                                </label>
                            </div>
                            <div *ngIf="form.controls.end_date.invalid && (form.controls.end_date.dirty || form.controls.end_date.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.end_date.errors.required">
                                    End Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Join Max Count</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter join max count"
                                   [(ngModel)]="try.event_trgter_co"
                                   formControlName="join_max_count" name="join_max_count"/>
                            <div *ngIf="form.controls.join_max_count.invalid && (form.controls.join_max_count.dirty || form.controls.join_max_count.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.join_max_count.errors.required">
                                    Join Max Count is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Delivery Start Date</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="calendar-control">
                                <mat-datepicker-toggle [for]="delivery_start_date"
                                                           matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #delivery_start_date type="datetime" openOnFocus="true"
                                                    timeInterval="5"></mat-datepicker>
                                <input matInput class="form-control" formControlName="delivery_start_date"
                                       [(ngModel)]="try.dlvy_bgnde"
                                       [matDatepicker]="delivery_start_date" required autocomplete="false"
                                       [max]="try.delivery_end_date">
                            </div>
                            <div *ngIf="form.controls.delivery_start_date.invalid && (form.controls.delivery_start_date.dirty || form.controls.delivery_start_date.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.delivery_start_date.errors.required">
                                    Delivery Start Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Delivery End Date</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="calendar-control">
                                <mat-datepicker-toggle [for]="delivery_end_date"
                                                           matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #delivery_end_date type="datetime" openOnFocus="true"
                                                    timeInterval="5"></mat-datepicker>
                                <input matInput class="form-control" formControlName="delivery_end_date"
                                       [(ngModel)]="try.dlvy_endde"
                                       [matDatepicker]="delivery_end_date" required autocomplete="false"
                                       [min]="try.delivery_start_date">
                            </div>
                            <div *ngIf="form.controls.delivery_end_date.invalid && (form.controls.delivery_end_date.dirty || form.controls.delivery_end_date.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.delivery_end_date.errors.required">
                                    Delivery End Date is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Quantity to qualify</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Enter quantity to qualify"
                                   [(ngModel)]="try.quantity_to_qualify"
                                   formControlName="quantity_to_qualify" name="quantity_to_qualify"/>
                            <div *ngIf="form.controls.quantity_to_qualify.invalid && (form.controls.quantity_to_qualify.dirty || form.controls.quantity_to_qualify.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.quantity_to_qualify.errors.required">
                                    Quantity to qualify is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Try event type</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ng-select [items]="tryEventTypes" [(ngModel)]="try.try_event_type" bindValue="value" bindLabel="viewValue"
                                       formControlName="try_event_type" name="try_event_type" [virtualScroll]="true">
                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                    <span>{{ item.viewValue }}</span>
                                </ng-template>
                            </ng-select>

                            <div *ngIf="form.controls.try_event_type.invalid && (form.controls.try_event_type.dirty || form.controls.try_event_type.touched)"
                                 class="text-danger">
                                <div *ngIf="form.controls.try_event_type.errors.required">
                                    Try event type is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Main image</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <app-admin-resource #resource
                                                [resource]="{ url: try.feature_image, resource_type: try.resource_type }"
                                                [resizeToWidth]="670" [aspectRatio]="67 / 47"></app-admin-resource>
                            <div *ngIf="isSubmitted && invalidMainImage"
                                 class="text-danger">
                                Main image is require
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Images</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <app-admin-multiple-images #images [images]="{ data: try.files}"
                                                       [resizeToWidth]="720" [aspectRatio]="9 / 16"></app-admin-multiple-images>
                            <div *ngIf="isSubmitted && invalidImages"
                                 class="text-danger">
                                    Choose at least one image
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions d-flex justify-content-end col-md-8">
            <button class="btn btn-default mr-1" routerLink="/admin/try/event">
                <i class="material-icons align-text-bottom">
                    cancel
                </i> <span> {{ "cancel" | translate }}</span>
            </button>
            <button class="btn btn-primary mr-1" [disabled]="!form.valid"
                    (click)="onSave()">
                <i class="material-icons align-text-bottom">
                    save
                </i> <span> {{ "save" | translate }}</span>
            </button>
        </div>
    </form>
</div>
