<div class="component-admin-banner">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="admin-heading">
                UPDATE PASSWORD
            </div>
            <div>
                <button class="btn btn-default" routerLink="/admin/profile"><i class="material-icons align-text-bottom">
                    arrow_back
                </i> <span>Back</span></button>
            </div>
        </div>
    </div>
    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="col-md-8">
                <div class="form">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Old password</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="password" class="form-control" [(ngModel)]="user.old_password"
                                       formControlName="old_password" name="old_password"/>
                                <div *ngIf="form.controls.old_password.invalid && (form.controls.old_password.dirty || form.controls.old_password.touched)"
                                     class="text-danger">
                                    <div *ngIf="form.controls.old_password.errors.required">
                                        Old password is required
                                    </div>
                                    <div *ngIf="form.controls.old_password.errors.minlength">
                                        You have entered less than 6 characters for password
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>New password</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="password" class="form-control"
                                       [(ngModel)]="user.new_password"
                                       formControlName="new_password" name="new_password"/>
                                <div *ngIf="form.controls.new_password.invalid && (form.controls.new_password.dirty || form.controls.new_password.touched)"
                                     class="text-danger">
                                    <div *ngIf="form.controls.new_password.errors.required">
                                        New password is required
                                    </div>
                                    <div *ngIf="form.controls.new_password.errors.minlength">
                                        You have entered less than 6 characters for password
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Confirm password</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="password" class="form-control"
                                       [(ngModel)]="user.confirm_password"
                                       formControlName="confirm_password" name="confirm_password"/>
                                <div *ngIf="form.controls.confirm_password.invalid && (form.controls.confirm_password.dirty || form.controls.confirm_password.touched)"
                                     class="text-danger">
                                    <div *ngIf="form.controls.confirm_password.errors.required">
                                        Confirm password is required
                                    </div>
                                    <div *ngIf="confirm_password != new_password">
                                        Confirm password do not match
                                    </div>
                                </div>
                                <div *ngIf="submitted"
                                     class="text-danger">
                                    <div *ngIf="user.confirm_password != user.new_password">
                                        Confirm password do not match
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-danger d-flex justify-content-end col-md-8" *ngIf="error_message">
            {{error_message}}
        </div>
        <div class="actions d-flex justify-content-end col-md-8">
            <button class="btn btn-default mr-1" routerLink="/admin/profile">
                <i class="material-icons align-text-bottom">
                    cancel
                </i> <span> {{ "cancel" | translate }}</span>
            </button>
            <button class="btn btn-primary mr-1" (click)="save()" [disabled]="form.invalid">
                <i class="material-icons align-text-bottom">
                    save
                </i> <span> {{ "save" | translate }}</span>
            </button>
        </div>
    </form>
</div>
