<div class="component-admin-banner">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="admin-heading" *ngIf="!user_no">
                {{ "admin.account.add_account" | translate }}
            </div>
            <div class="admin-heading" *ngIf="user_no">
                {{ "admin.account.edit_account" | translate }}
            </div>
            <div>
                <button class="btn btn-default" routerLink="/admin/system/account"><i
                        class="material-icons align-text-bottom">
                        arrow_back
                    </i> <span>Back</span></button>
            </div>
        </div>
    </div>
    <form [formGroup]="form" novalidate>
        <div class="row">
            <div class="col-md-8">
                <div class="form">
                    <div class="row" *ngIf="user_no">
                        <div class="col-md-3">
                            <label>User No</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input disabled [(ngModel)]="user.name" type="text" class="form-control"
                                    formControlName="user_no" name="user_no" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label> {{ "admin.users.name" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input maxlength="50" type="text" class="form-control" placeholder="Enter name"
                                    formControlName="reg_name" name="reg_name" [(ngModel)]="user.reg_name"
                                    id="reg_name" />
                                <div *ngIf="form.controls.reg_name.invalid && (isSubmitted|| form.controls.reg_name.touched)"
                                    class="text-danger">
                                    <div *ngIf="form.controls.reg_name.errors.required">
                                        User name is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>ID</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input maxlength="30" type="text" class="form-control" placeholder="Enter id" [(ngModel)]="user.id"
                                    formControlName="id" name="id" id="id" />
                                <div *ngIf="form.controls.id.invalid && (isSubmitted || form.controls.id.touched)"
                                    class="text-danger">
                                    <div *ngIf="form.controls.id.errors.required">
                                        ID is required
                                    </div>
                                </div>
                                <div *ngIf="form.controls.id.invalid " class="text-danger">
                                    <div *ngIf="form.controls.id.errors.pattern" class="text-danger">
                                        ID is invalid (not contain space and special character).
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Password</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input maxlength="50" type="password" class="form-control"
                                    placeholder="{{ user_no != '' ? 'Enter change password' : 'Enter password' }}"
                                    formControlName="password" name="password" id="password" />
                                <div *ngIf="form.controls.password.invalid && (isSubmitted|| form.controls.password.touched)"
                                    class="text-danger">
                                    <div *ngIf="form.controls.password.errors.required">
                                        Password is required
                                    </div>
                                    <div *ngIf="form.controls.password.errors.pattern">
                                        Password is invalid .
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "admin.users.email" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input maxlength="50" type="text" class="form-control" placeholder="Enter email"
                                    [(ngModel)]="user.email" formControlName="email" name="email">
                                <div *ngIf="form.controls.email.invalid && (isSubmitted || form.controls.email.touched)"
                                    class="text-danger">
                                    <div *ngIf="form.controls.email.errors.required">
                                        Email is required
                                    </div>
                                    <div *ngIf="form.controls.email.errors.email" class="text-danger">
                                        Invalid email address
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "admin.users.phone" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input maxlength="50" type="text" class="form-control" placeholder="Enter phone number"
                                    formControlName="cellphone" name="cellphone" (keypress)="numberOnly($event)">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "admin.users.access_control" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <!-- <mat-checkbox *ngIf="!user_no" formControlName="delete" name="delete" class="px-3"
                                    [(ngModel)]="user.delete" color="primary">Deleted
                                </mat-checkbox> -->
                                <mat-checkbox formControlName="active" name="active" class="px-3"
                                    [(ngModel)]="user.active" color="primary">Active
                                </mat-checkbox>
                                <mat-checkbox formControlName="allow_comment" name="allow_comment" class="px-3"
                                    [(ngModel)]="user.allow_comment" color="primary">Allow
                                    Comment
                                </mat-checkbox>
                                <mat-checkbox formControlName="allow_review" name="allow_review" class="px-3"
                                    [(ngModel)]="user.allow_review" color="primary">Allow
                                    Review
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "admin.users.user_role" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group permissions">
                                <mat-radio-group name="userRole" formControlName="userRole">
                                    <div *ngFor="let role of roles ; index as j">
                                        <mat-radio-button name="userRole" class="px-3" [value]="role.id"
                                            color="primary">
                                            {{role.id == 1 ? 'ALL' : role.name }} MANAGEMENT</mat-radio-button>
                                        <p></p>
                                        <label *ngIf="role.id != 1">
                                            <p class="permissions-item" *ngFor="let per of role.permissions">
                                                - {{ per.name }}
                                            </p>
                                        </label>

                                    </div>

                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "admin.users.address" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <textarea maxlength="500" type="text" class="form-control" placeholder="Enter address"
                                    formControlName="home_addr1" name="home_addr1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions d-flex justify-content-end col-md-8">
            <button class="btn btn-default mr-1" routerLink="/admin/system/account">
                <i class="material-icons align-text-bottom">
                    cancel
                </i> <span> {{ "cancel" | translate }}</span>
            </button>
            <button class="btn btn-primary mr-1" (click)="save()" *ngIf="!user_no" [disabled]="form.invalid">
                <i class="material-icons align-text-bottom">
                    save
                </i> <span> {{ "save" | translate }}</span>
            </button>
            <button class="btn btn-primary mr-1" (click)="updateEdit()" *ngIf="user_no" [disabled]="form.invalid">
                <i class="material-icons align-text-bottom">
                    save
                </i> <span> {{ "save" | translate }}</span>
            </button>
        </div>
    </form>
</div>