<div class="component-admin-notification component-admin-try">
    <select (change)="changePageLimit($event.target.value)" class="page-limit">
      <option
        *ngFor="let option of pageLimitOptions"
        [value]="option.value"
        [selected]="option.value == pageSize"
      >
        {{option.value}} per page
      </option>
    </select>
    <div class="row">
        <div class="col">
            <div class="admin-heading">
                {{ 'system_notification_management' | translate }}
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right" routerLink="/admin/notifications/add">
                <i class="material-icons align-text-bottom">
                    add
                </i> <span>Add</span>
            </button>
        </div>
    </div>

    <div class="multi-action" *ngIf="selected.length > 0">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary mr-1" [swal]="disableSwal" *ngIf="showDeactivate" (confirm)="onToggleMulti(true)">
                <i class="material-icons align-text-bottom">
                    visibility_off
                </i> <span> Disable</span>
            </button>
            <button class="btn btn-primary mr-1" [swal]="enableSwal" *ngIf="showActive" (confirm)="onToggleMulti(false)">
                <i class="material-icons align-text-bottom">
                    visibility
                </i> <span> Enable</span>
            </button>
            <button class="btn btn-default mr-1" [swal]="deleteSwal" *ngIf="showDelete" (confirm)="onDeleteMulti()">
                <i class="material-icons align-text-bottom">
                    delete
                </i> <span>Delete</span>
            </button>
        </div>
    </div>
    <ngx-datatable #myTable class="material" [rows]="notifications" [columnMode]="'force'" [headerHeight]="50"
                   [footerHeight]="50"
                   [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)'
                   [selected]="selected"
                   [rowHeight]="'auto'" [count]="total" [offset]="pageIndex-1" [limit]="pageSize" [externalPaging]="true" (page)='setPage($event)'>
        <ngx-datatable-column [frozenLeft]="true" [width]="50" [sortable]="false" [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="ID" prop="id" [width]="70" [canAutoResize]="false"></ngx-datatable-column>
        <ngx-datatable-column name="Title" prop="title"></ngx-datatable-column>
        <ngx-datatable-column name="Content" prop="content">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <p [innerHtml]="row.content | safeHtml"></p>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="URL">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a href="{{row.url}}" target="_blank">{{row.url}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Created at" prop="posted_at"></ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [maxWidth]="100" [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button [matMenuTriggerFor]="userActions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userActions="matMenu">
                    <a mat-menu-item routerLink="/admin/notifications/edit/{{row.id}}" class="datatable-action-button">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </a>
                    <button mat-menu-item [swal]="disableSwal" *ngIf="!row.is_disabled" (confirm)="onToggle([row], true)" class="datatable-action-button">
                        <mat-icon>visibility_off</mat-icon>
                        <span>Disable</span>
                    </button>
                    <button mat-menu-item [swal]="enableSwal" *ngIf="row.is_disabled" (confirm)="onToggle([row], false)" class="datatable-action-button">
                        <mat-icon>visibility</mat-icon>
                        <span>Enable</span>
                    </button>
                    <button mat-menu-item [swal]="deleteSwal" (confirm)="onDelete([row])" class="datatable-action-button">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

<swal #enableSwal text="Are you sure to enable notifications?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #disableSwal text="Are you sure to disable notifications?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
<swal #deleteSwal text="Are you sure to delete notifications?" type="question" [showCancelButton]="true"
      [focusCancel]="true"></swal>
