<div class="privacy-policy">
    <div class="container">
        <h1 class="main-title">Điều khoản dịch vụ</h1>
        <h2 class="section-title">Chương 1 QUY ĐỊNH CHUNG</h2>
        <ul>
            <li class="section-item">
                Điều 1 (Mục đích) <br>
                Mục đích của các Điều khoản và Điều kiện này là để xác định các quyền và nghĩa vụ liên quan đến công ty
                và các thành viên tham gia dịch vụ khi sử dụng các dịch vụ được cung cấp bởi DM &amp; C.
            </li>
            <li class="section-item">
                Điều 2 (Hiệu lực và Sửa đổi Điều khoản)
                <ul>
                    <li class="sub-item">
                        1. Các Điều khoản và Điều kiện này sẽ được đăng trên Màn hình Dịch vụ ban đầu và
                        http://www.fime.vn (sau đây gọi là "Trang web") và được thông báo cho Thành viên và sẽ có hiệu
                        lực khi có sự đồng ý của Thành viên đối với Tư cách thành viên Dịch vụ.
                    </li>
                    <li class="sub-item">
                        2. luật công ty liên quan đến việc "Luật Bảo vệ người tiêu dùng trong thương mại điện tử", "Luật
                        về Quy chế của điều khoản", "Tài liệu điện tử và Thương mại điện tử Luật cơ bản", "Chữ ký điện
                        tử", "Sử dụng khuyến mãi Thông tin và Truyền thông Mạng và Bảo mật Thông tin "Thỏa thuận này có
                        thể được sửa đổi miễn là Thỏa thuận này không vi phạm các luật và quy định có liên quan.
                    </li>
                    <li class="sub-item">
                        3. Nếu bạn muốn sửa đổi các điều khoản của thỏa thuận này có thể được sửa đổi nếu cần thiết, và
                        các công ty áp dụng cho ngày đến 14 ngày trước khi ngày hôm trước, kể từ ngày có hiệu lực của
                        thỏa thuận sửa đổi các điều khoản hiện tại bằng cách xác định ngày và lý do sửa đổi áp dụng thỏa
                        thuận sửa đổi Chú ý.
                    </li>
                    <li class="sub-item">
                        4. Mặc dù quy định trên, và nếu thành viên không thuận lợi để các thỏa thuận sửa đổi và được
                        biết đến từ 30 ngày trước ngày có hiệu lực kể từ ngày có hiệu quả thỏa thuận sửa đổi cho đến
                        ngày hôm trước, trong trường hợp này công ty đang so sánh rõ ràng các thông tin sửa đổi trước và
                        sau khi sửa đổi Nó được hiển thị để dễ tham khảo.
                    </li>
                    <li class="sub-item">
                        5. Các Điều khoản sửa đổi sẽ được làm rõ cho các Thành viên theo một hoặc nhiều cách sau đây:
                        <br>
                        - Xuất bản trên trang web
                        - Thông báo E-mail
                        - Các phương thức thông báo khác do Công ty xác định
                    </li>
                    <li class="sub-item">
                        6. Các thành viên phản đối việc sửa đổi các Điều khoản này có thể rút khỏi Dịch vụ. Các thành
                        viên không thể hiện sự sẵn lòng rút lui hoặc từ chối tư cách thành viên trong thời hạn thông báo
                        quy định tại Điều 4 hoặc Điều 5 của Điều này sẽ được coi là đồng ý với các Điều khoản sửa đổi.
                    </li>
                    <li class="sub-item">
                        7. liên quan đến việc giải thích các điều khoản không được định nghĩa trong Hiệp định này và
                        "Luật Bảo vệ người tiêu dùng trong thương mại điện tử", "Luật quy định của các điều khoản và
                        điều kiện", bảo vệ người tiêu dùng Ủy ban Thương mại Hội chợ trong "Thông báo thương mại điện tử
                        Hướng dẫn và luật hoặc thực tiễn liên quan.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 3 (Cung cấp và Thay đổi Dịch vụ)<br>
                Công ty cung cấp các dịch vụ sau:
                <ul>
                    <li class="sub-item">
                        TRY dịch vụ, miễn phí, hoặc trải nghiệm giá nhận được cho các dịch vụ của công ty và các biên
                        tập viên chọn viết bình luận cho nó, các dịch vụ giao hàng liên quan đến biên tập, quản lý biên
                        tập viên của các bài viết được gửi v..v..
                    </li>
                    <li class="sub-item">
                        Các dịch vụ do các công ty khác cung cấp cho thành viên
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 4 (Đình chỉ dịch vụ)
                <ul>
                    <li class="sub-item">
                        1. Công ty có thể tạm ngừng cung cấp dịch vụ trong trường hợp bảo trì, thay thế hoặc phân tích
                        thông tin và các thiết bị viễn thông như máy tính hoặc gián đoạn liên lạc.
                    </li>
                    <li class="sub-item">
                        2. Công ty có thể hạn chế hoặc đình chỉ việc cung cấp dịch vụ nếu không thể cung cấp dịch vụ do
                        thiên tai hoặc bất khả kháng như trên.
                    </li>
                    <li class="sub-item">
                        3. Trong trường hợp Khoản 1 và 2, Công ty sẽ thông báo trước cho Thành viên hoặc sau lý do và
                        thời gian.
                    </li>
                    <li class="sub-item">
                        4. Ngoài các trường hợp khoản 1 và 2, Công ty có thể thông báo trước về thời gian cần thiết để
                        thực hiện trơn tru dịch vụ và tạm ngừng dịch vụ.
                    </li>
                    <li class="sub-item">
                        5. Công ty sẽ bồi thường cho thành viên về các thiệt hại phát sinh do gián đoạn dịch vụ tạm thời
                        do Đoạn ①. Tuy nhiên, điều này sẽ không áp dụng nếu không có ý định hoặc sơ suất của Công ty.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 5 (Tư cách thành viên)
                <ul>
                    <li class="sub-item">
                        1. Thành viên sẽ đăng ký làm thành viên bằng cách điền thông tin thành viên được yêu cầu theo
                        mẫu đăng ký được chỉ định của công ty và sau đó ký thỏa thuận.
                    </li>
                    <li class="sub-item">
                        2. Công ty không được chấp thuận hoặc hủy bỏ đơn đăng ký sử dụng theo bất kỳ đoạn nào sau
                        đây:<br>
                        - Nếu đương đơn đã mất tư cách thành viên. Tuy nhiên, miễn là điều này sẽ không áp dụng đối với
                        trường hợp một năm đã trôi qua sau khi mất tư cách thành viên và Công ty đã được chấp thuận cho
                        việc tái gia nhập Công ty. <br>
                        - Khi có thông tin sai về tên của người khác hoặc sai. <br>
                        - Đơn không thể được phê duyệt vì lý do lỗi của thành viên hoặc vi phạm các vấn đề khác theo quy
                        định <br>
                        - Nếu công ty không có chỗ cho các cơ sở liên quan đến dịch vụ, các vấn đề kỹ thuật hoặc kinh
                        doanh. Trong trường hợp này, công ty có thể dự trữ phê duyệt thành viên. <br>
                        - Nếu bạn không điền thông tin thành viên bắt buộc <br>
                    </li>
                    <li class="sub-item">
                        3. Tư cách thành viên được thực hiện khi sự chấp thuận của công ty đạt được thành viên.
                    </li>
                    <li class="sub-item">
                        4. Nếu thành viên thay đổi bất kỳ mục nào đã đăng ký tại thời điểm thành viên, thì người đó sẽ
                        sửa đổi thông tin cá nhân của mình trực tuyến hoặc thông báo ngay cho công ty bằng e-mail hoặc
                        các phương tiện khác.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 6 (Rút khỏi tư cách thành viên và mất tiêu chuẩn)
                <ul>
                    <li class="sub-item">
                        1. Thành viên có thể yêu cầu rút tiền bất cứ lúc nào bởi các công ty và công ty sẽ tiến hành thu
                        hồi thành viên, tùy thuộc vào cách công ty đã nhận được thông báo thông qua các trang web, nếu
                        như một yêu cầu.
                    </li>
                    <li class="sub-item">
                        2. Nếu một thành viên đã vi phạm nghĩa vụ của mình theo thỏa thuận này công ty có thể được hạn
                        chế, chấm dứt cảnh báo, một số hoặc tất cả các dịch vụ có sẵn cho tài khoản của thành viên, tùy
                        thuộc vào mức độ vi phạm.
                    </li>
                    <li class="sub-item">
                        3. Trong trường hợp một thành viên rút khỏi dịch vụ, việc lưu trữ thông tin cá nhân của thành
                        viên sẽ tuân theo chính sách bảo mật của công ty.
                    </li>
                    <li class="sub-item">
                        4. Khi rút tiền, tất cả các quyền lợi như một thành viên sẽ hết hạn. Bất kỳ tổn thất nào phát
                        sinh từ việc rút khỏi Thành viên sẽ do Thành viên chịu trách nhiệm và Công ty sẽ không chịu
                        trách nhiệm về bất kỳ trách nhiệm pháp lý nào. Tuy nhiên, miễn là những thiệt hại đó không phải
                        do ý định hoặc sơ suất của Công ty.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 7 (Thông báo cho thành viên)
                <ul>
                    <li class="sub-item">
                        1. Công ty có thể thông báo cho Thành viên bằng e-mail hoặc SMS do Thành viên chỉ định trước với
                        Công ty.
                    </li>
                    <li class="sub-item">
                        2. Trong trường hợp thông báo cho số lượng thành viên không xác định, công ty có thể thay thế
                        cho thông báo cá nhân bằng cách đăng trên bảng thông báo dịch vụ trong hơn một tuần. Tuy nhiên,
                        các vấn đề có ảnh hưởng đáng kể đến giao dịch của thành viên được thông báo riêng.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 8 (Nghĩa vụ thành viên)
                <ul>
                    <li class="sub-item">
                        1. Thành viên không được sử dụng thông tin của người khác hoặc cung cấp bất kỳ thông tin sai
                        lệch nào trong quá trình đăng ký và sử dụng dịch vụ.
                    </li>
                    <li class="sub-item">
                        2. Thành viên được dựa trên một người cho mỗi tài khoản Khi một thành viên cụ thể cố tình tạo
                        nhiều tài khoản thành viên và được phát hiện là hoạt động, việc sử dụng dịch vụ có thể bị hạn
                        chế.
                    </li>
                    <li class="sub-item">
                        3. Thành viên không được sử dụng ID của bên thứ ba hoặc sử dụng ID của họ cho bên thứ ba.
                    </li>
                    <li class="sub-item">
                        4. Thành viên phải thông báo ngay cho công ty khi thông tin của thành viên bị thay đổi và công
                        ty không chịu trách nhiệm về bất lợi do không thông báo cho công ty về thông tin thay đổi của
                        thành viên.
                    </li>
                    <li class="sub-item">
                        5. Các thành viên phải tuân thủ các Điều khoản này và bất kỳ quy định nội bộ của công ty nào
                        khác và các luật và quy định có liên quan.
                    </li>
                    <li class="sub-item">
                        6. Thành viên sẽ xác nhận theo thời gian bất kỳ vấn đề nào được quy định trong các Điều khoản và
                        Điều kiện này, thông báo trên trang chủ của từng dịch vụ hoặc từng dịch vụ kết nối và mọi chính
                        sách hoặc quy định do Công ty quy định.
                    </li>
                    <li class="sub-item">
                        7. Các thành viên không tham gia vào bất kỳ hành vi nào sau đây và nếu có bất kỳ thiệt hại nào
                        xảy ra với Công ty do bất kỳ hành vi nào sau đây, thì thành viên phải chịu trách nhiệm trước
                        Công ty về các thiệt hại. <br>
                        - Không thanh toán nghĩa vụ mà thành viên thanh toán cho việc sử dụng hàng hóa được mua bằng
                        cách sử dụng dịch vụ hoặc dịch vụ khác vào ngày đến hạn <br>
                        - Ảnh hưởng đến cơ hội mua của các thành viên khác do việc hủy bỏ TRY thường xuyên, hủy mua và
                        tích lũy <br>
                        - Thông điệp khiêu dâm hoặc bạo lực ∙ Bỏng ∙ Tiếng nói Thông tin công khai khác Tiết lộ thông
                        tin cho công chúng hoặc đăng tải trên dịch vụ <br>
                        - Hoạt động bán hàng / quảng cáo sử dụng dịch vụ mà không có sự cho phép của công ty hoặc hoạt
                        động bán hàng / quảng cáo bên ngoài nội dung và phạm vi được công ty cho phép <br>
                        - Sử dụng trái phép hoặc trộm cắp thẻ tín dụng của người khác, tài khoản ngân hàng, điện thoại
                        di động, v.v. <br>
                        - Làm giảm danh dự của công ty hoặc của người khác hoặc phổ biến các sự kiện chưa được xác nhận
                        <br>
                        - Hành vi vi phạm quyền của người khác, chẳng hạn như quyền sở hữu trí tuệ và gây gián đoạn đáng
                        kể đến hiệu quả kinh doanh của công ty. <br>
                        - Để đăng nội dung trái với trật tự công cộng và các chỉ tiêu xã hội <br>
                        - Khi bạn viết đánh giá sau khi nhận được ưu đãi với giá miễn phí hoặc dùng thử, bạn có thể viết
                        bài đánh giá với một tài khoản khác với tài khoản SNS mà bạn đã liên kết khi bạn gửi trình chỉnh
                        sửa. <br>
                        - Hành động bán, chuyển nhượng, cho thuê, v...v... <br>
                    </li>
                    <li class="sub-item">
                        8. Thành viên phải thông báo cho Công ty về các vấn đề như lỗi hoặc lỗi hệ thống được phát hiện
                        khi sử dụng dịch vụ và không được tuyên truyền hoặc lạm dụng nó cho các thành viên khác. Lỗi và
                        lỗi hệ thống sẽ được coi là lỗi và lạm dụng hệ thống khi được sử dụng để nhận trợ cấp mà không
                        cần thông báo cho Công ty và việc sử dụng dịch vụ của thành viên có thể bị hạn chế.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 9 (Nghĩa vụ đối với ID thành viên và mật khẩu) <br>
                Quản lý trách nhiệm
                <ul>
                    <li class="sub-item">
                        1.ID và mật khẩu bây giờ là thành viên, các thành viên, nếu muốn, nhưng có thể thay đổi bất kỳ
                        mật khẩu thời gian, vv Vì lý do an ninh, thành viên nếu công ty của bạn được yêu cầu nộp giấy tờ
                        tùy thân của người hoặc công ty mà yêu cầu xác thực Bạn phải.
                    </li>
                    <li class="sub-item">
                        2. Thành viên không được phép sử dụng ID và mật khẩu của mình bởi bên thứ ba. Công ty sẽ không
                        chịu trách nhiệm pháp lý đối với mọi hình phạt phát sinh từ việc chia sẻ hoặc trộm cắp các ID và
                        mật khẩu không thuộc về Công ty. Ngoài ra, ngay cả khi bên thứ ba vi phạm Điều khoản bằng cách
                        sử dụng ID của thành viên trong quá trình chia sẻ ID và mật khẩu, việc sử dụng dịch vụ của thành
                        viên có thể bị hạn chế.
                    </li>
                    <li class="sub-item">
                        3. Nếu một thành viên nhận ra rằng ID và mật khẩu của mình bị đánh cắp hoặc sử dụng bởi bên thứ
                        ba, họ sẽ thông báo cho công ty ngay lập tức và làm theo hướng dẫn của công ty.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 10 (Nghĩa vụ của Công ty)
                <ul>
                    <li class="sub-item">
                        1. Công ty là liên tục, theo quy định của Đạo luật và thỏa thuận này bị cấm hoặc không phải là
                        một hành vi trái trật tự công cộng yangsok chấp nhận điều này, bạn nên cố gắng hết sức để hoạt
                        động ổn định của dịch vụ.
                    </li>
                    <li class="sub-item">
                        2. Công ty sẽ có một hệ thống bảo mật để bảo vệ thông tin cá nhân của thành viên (bao gồm thông
                        tin tín dụng) để thành viên có thể sử dụng dịch vụ Internet một cách an toàn.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 11 (Điều khoản và Điều khoản sử dụng cho các dịch vụ cá nhân)
                <ul>
                    <li class="sub-item">
                        Công ty có thể có được sự đồng ý của cá nhân bằng cách xác định các điều khoản và điều kiện sử
                        dụng cho từng dịch vụ riêng biệt cho từng dịch vụ riêng lẻ theo các nội dung cụ thể của dịch vụ
                        được cung cấp. Trong trường hợp này, các điều khoản và điều kiện của từng dịch vụ sẽ thay thế
                        các điều khoản này.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 12 (Bảo vệ thông tin cá nhân)
                <ul>
                    <li class="sub-item">
                        1. Công ty cố gắng bảo vệ thông tin cá nhân của thành viên theo quy định của pháp luật và các
                        quy định có liên quan.
                    </li>
                    <li class="sub-item">
                        2. Việc bảo vệ và sử dụng thông tin cá nhân của thành viên sẽ được điều chỉnh bởi các luật và
                        quy định liên quan và chính sách xử lý thông tin cá nhân mà công ty thông báo riêng và được sự
                        đồng ý của thành viên.
                    </li>
                    <li class="sub-item">
                        3. Công ty sẽ không tuân thủ chính sách xử lý thông tin cá nhân của Công ty đối với các dịch vụ
                        được cung cấp bởi bên thứ ba được kết nối với dịch vụ bằng một liên kết đơn giản khác với dịch
                        vụ và Công ty sẽ không chịu trách nhiệm pháp lý về việc mất mát Vì bất kỳ lý do gì.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 13 (Quản lý bưu chính)
                <ul>
                    <li class="sub-item">
                        1. Công ty đánh giá các bài viết của thành viên và bảo vệ họ bằng cách ngăn cản họ bị thay đổi,
                        hư hỏng hoặc bị xóa.
                    </li>
                    <li class="sub-item">
                        2. Công ty có thể xóa hoặc di chuyển hoặc từ chối đăng ký bất kỳ tài liệu hoặc vật liệu nào sau
                        đây mà không cần thông báo trước. <br>
                        - Để xúc phạm nghiêm trọng cho thành viên khác hoặc bên thứ ba hoặc làm giảm danh dự <br>
                        - Trong trường hợp nội dung giả mạo hoặc gây hại đến quốc tịch, chủng tộc, tôn giáo, dân tộc,
                        giới tính, khuyết tật, v.v. <br>
                        - Khi thành viên hiển thị tài liệu khiêu dâm hoặc liên kết trang web khiêu dâm <br>
                        - Nếu nội dung vi phạm quyền của công ty hoặc bất kỳ bên thứ ba nào bao gồm quyền tác giả và
                        quyền sở hữu trí tuệ khác <br>
                        - Đối với các bài đăng không khớp với bản chất của bảng thông báo <br>
                        - Phổ biến hoặc liên kết nội dung vi phạm trật tự công cộng và đạo đức <br>
                        - Trong trường hợp quảng cáo vì mục đích thương mại <br>
                        - Nếu nó được khách quan công nhận là bị kết nối với tội phạm <br>
                        - Nếu công ty không tuân thủ các nguyên tắc đăng tải hoặc bản chất của bảng thông báo <br>
                        - Khi nó cản trở hoạt động bình thường của công ty hoặc dịch vụ <br>
                        - Nếu bị đánh giá là vi phạm các luật và quy định khác có liên quan <br>
                    </li>
                    <li class="sub-item">
                        3. Trong trường hợp nội dung của thông báo vi phạm Đạo luật về Thúc đẩy Thông tin và Sử dụng
                        Mạng Thông tin và Đạo luật Bảo vệ Thông tin, Đạo luật Bảo vệ Thông tin Cá nhân và Đạo luật Bản
                        quyền, Bạn có thể yêu cầu tạm ngừng và xóa bài đăng và công ty sẽ thực hiện các biện pháp cần
                        thiết phù hợp với các luật và quy định có liên quan.
                    </li>
                    <li class="sub-item">
                        4. Nếu bạn không có một công ty mà yêu cầu theo quy định tại khoản trên, ngay cả khi có khả năng
                        xảy ra hành vi xâm phạm các quyền của bên thứ ba hoặc vi phạm, hoặc chính sách công ty khác và
                        rằng khi vấn đề này có thể được biện minh bởi vi phạm pháp luật và các quy định có liên quan tồn
                        tại theo pháp luật Bạn có thể thực hiện bất kỳ hành động cần thiết nào, chẳng hạn như xóa và xóa
                        bài đăng.
                    </li>
                    <li class="sub-item">
                        5. Khi một thành viên rời khỏi dịch vụ, họ không thể chỉnh sửa hoặc xóa bài đăng hiện có. Do đó,
                        anh / cô ấy nên thực hiện hành động trên bài đăng trước khi rời khỏi dịch vụ.
                    </li>
                </ul>
            </li>
        </ul>
        <h2 class="section-title">Chương 2 Dịch vụ TRY</h2>
        <ul>
            <li class="section-item">
                Điều 14 (Phạm vi chương 2)
                <ul>
                    <li class="sub-item">
                        Chương này áp dụng cho các dịch vụ TRY.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 15 (Nguyên tắc sử dụng dịch vụ)
                <ul>
                    <li class="sub-item">
                        1. Công ty đang cung cấp hai dịch vụ cho các thành viên cá nhân phù hợp với đặc điểm của các
                        thành viên (bao gồm cả đặc tính vật lý), hoặc là nó sẽ đáp ứng được mục đích sử dụng của các
                        thành viên cá nhân, không có chất lượng, đầy đủ, độ tin cậy, tính hợp pháp và quyền của người
                        khác, đối với các dịch vụ Chúng tôi không bảo đảm về tính xác thực hoặc tính hợp pháp của tài
                        liệu được đăng trên trang web, URL do đối tác nhập hoặc liên kết.
                    </li>
                    <li class="sub-item">
                        2. Công ty là thành viên của các dịch vụ thông tin và bất kỳ thiệt hại mà các đối tác của hàng
                        hóa từ dịch vụ có thể là một thành viên của miệng liên quan đến các thông tin được cung cấp bởi
                        các công ty cung cấp trực tiếp đến, các thành viên phải chịu trách nhiệm cho bất kỳ thiệt hại có
                        thể gây do nghệ thuật bằng việc sử dụng hàng hóa Là đối tác cung cấp dịch vụ và Công ty sẽ không
                        chịu trách nhiệm về vấn đề này.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 16 (Đơn xin TRY)
                <ul>
                    <li class="sub-item">
                        1. Thành viên sẽ nộp đơn xin TRY bằng các phương tiện sau đây hoặc tương tự, và Công ty sẽ giúp
                        Thành viên dễ dàng thực hiện các nội dung sau đây trong đơn xin TRY.<br>
                        - Yêu cầu và lựa chọn ưu đãi <br>
                        - Nhập / đánh dấu vào ô tên, địa chỉ, số điện thoại, địa chỉ e-mail, số điện thoại di động, v.v.
                        <br>
                        - Xác nhận các nội dung liên quan đến nội dung của hợp đồng, dịch vụ có quyền rút đăng ký hạn
                        chế, chi phí vận chuyển và lắp đặt, v.v. <br>
                        - Nếu bạn đồng ý với các điều khoản này và xác nhận hoặc từ chối các mục trong mục 3 (ví dụ như
                        nhấp chuột) <br>
                    </li>
                    <li class="sub-item">
                        2. Thành viên không được sử dụng hoặc TRY TRY ứng dụng mà không cần viết một bài đánh giá bác
                        sĩ, nếu ai bắt gặp sử dụng thử can thiệp vào khả năng của một Thành viên khác thông qua đó công
                        ty sẽ áp đặt lệnh trừng phạt như hệ thống treo của thành viên cho tài khoản đó Bạn có thể.
                    </li>
                    <li class="sub-item">
                        3. Thành viên phải đăng ký TRY sau khi xác nhận chính xác các điều kiện của các giao dịch được
                        tạo ra trong trang web trước khi đăng ký TRY. Tất cả các tổn thất và thiệt hại phát sinh do việc
                        áp dụng và sử dụng TRY mà không xác nhận các điều kiện ứng dụng của TRY được dành riêng cho
                        thành viên.
                    </li>
                    <li class="sub-item">
                        4.Các thành viên phải chịu trách nhiệm và bất lợi của thông tin do thành viên nhập vào liên quan
                        đến việc áp dụng TRY và thông tin liên quan đến đơn đăng ký.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 17 (Tiêu chuẩn lựa chọn biên tập viên) <br>
                Tất cả thành viên có thể tham gia vào các chiến dịch do dịch vụ điều hành và có thể được chọn làm biên
                tập viên theo tiêu chí lựa chọn của biên tập viên bên dưới. <br>
                [Tiêu chí chỉnh sửa]<br>
                Điều này dành cho người dùng sử dụng SNS hàng ngày. Để đánh giá việc sử dụng SNS hàng ngày, công ty đã
                chuẩn bị các tiêu chí lựa chọn tối thiểu sau đây, và các biên tập viên được chọn ngẫu nhiên bởi thuật
                toán riêng của dịch vụ giữa các thành viên vượt quá tiêu chuẩn. <br>
                Lưu ý: Tiêu chí lựa chọn có thể được thay đổi theo chính sách của công ty.
                <ul>
                    <li class="sub-item">
                        Nếu bạn là người đăng ký mạng xã hội (Facebook) và bạn không bị giới hạn bởi tài khoản của mình
                    </li>
                    <li class="sub-item">
                        Nếu SNS (Facebook) không phải là tài khoản cá nhân hoặc giả mạo
                    </li>
                    <li class="sub-item">
                        SNS (Facebook) có hơn 50% nội dung liên quan đến cuộc sống hàng ngày
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 18 (Hạn chế về nghĩa vụ của biên tập viên và biên tập viên)
                <ul>
                    <li class="sub-item">
                        1. Nhiệm vụ của biên tập viên <br>
                        Biên tập viên phải điền vào một đánh giá bằng cách xem xét các nghĩa vụ sau đây với SNS của họ
                        được điền vào thời điểm đăng ký và ứng dụng TRY của dịch vụ do công ty cung cấp. (Lưu ý: Nghĩa
                        vụ của biên tập viên có thể thay đổi theo chính sách của chúng tôi. <br>
                        - Hoàn tất đánh giá trong thời hạn xem xét. (Thường trong vòng một tuần kể từ ngày giao hàng)
                        <br>
                        - Khi bạn viết đánh giá, hãy chèn thẻ bắt đầu bằng # do dịch vụ cung cấp làm quyền trong đánh
                        giá. <br>
                        - Đính kèm một hoặc nhiều ảnh hoặc hình ảnh mô tả tốt nhất đề nghị của bạn và điền vào tất cả
                        các đánh giá trên trang web. <br>
                        - Gửi liên kết trong thời hạn xem xét để đánh giá và xem xét bài đăng được chia sẻ SNS có thể
                        được dịch vụ xác nhận. <br>
                        - Xem xét các phiếu mua hàng Các bài đăng được chia sẻ SNS phải được đăng trong 30 ngày kể từ
                        ngày gửi. <br>
                    </li>
                    <li class="sub-item">
                        2. Trách nhiệm vi phạm của biên tập viên <br>
                        Biên tập viên có thể được cung cấp miễn phí trên các điều khoản và điều kiện do công ty đặt ra.
                        Tuy nhiên, trong trường hợp vi phạm sau đây, Công ty có thể áp dụng các biện pháp theo khoản 3
                        của Điều này.<br>
                    </li>
                    <li class="sub-item">
                        [Lý do vi phạm]<br>
                        - Trường hợp vi phạm khoản 1 "Nhiệm vụ biên tập" của Điều này<br>
                        - Nếu thông tin TRY được viết sai hoặc sai khi bạn đăng ký TRY <br>
                        - Khi đăng ký TRY, tài khoản giả cũng được sử dụng cho tài khoản cá nhân <br>
                        - Nếu bạn sử dụng tài khoản không phải là 50% hoặc nhiều hơn trong nội dung hàng ngày liên quan
                        đến đánh giá kinh nghiệm (đánh giá) tại thời điểm TRY đăng ký <br>
                        - Nếu bạn thay đổi thông tin giao hàng mà không thông báo cho công ty sau khi được chọn làm
                        người chỉnh sửa <br>
                        - Nếu bạn không viết đánh giá trong thời gian xem xét<br>
                        - Nếu bạn xóa hoặc sửa đổi nó mà không được phép trong vòng một tháng sau khi xem xét và gửi
                        liên kết<br>
                        - Nếu thẻ bắt đầu bằng # và nội dung (ảnh hoặc video) được đưa vào đánh giá sai<br>
                        - Nếu bạn thay đổi SNS để viết đánh giá biên tập viên mà không cần thông báo cho công ty<br>
                        - Ngay cả khi bạn viết đánh giá, nếu bạn vứt bỏ các sản phẩm do người biên tập cung cấp trong
                        vòng 3 tháng, chẳng hạn như bán, chuyển nhượng, cho thuê, v.v.<br>
                        - Nếu bạn không thực hiện nghĩa vụ của người chỉnh sửa 'Khoản 1'<br>
                        - Nếu bạn viết đánh giá cho "Xem xét không hợp lệ" bên dưới <br>
                    </li>
                    <li class="sub-item">
                        [Đánh giá không chính xác] <br>
                        Courier hoặc Box Xem lại <br>
                        - Đánh giá chỉ được đăng sau khi nhận gói hoặc hộp mà không giải nén gói <br>
                        - Đánh giá nhẹ nhàng <br>
                        &emsp; 1. không sử dụng các vật tư, ngay sau khi bạn nhận được một đánh giá của cùng một cảm
                        giác như bắn xác thực tại chỗ <br>
                        &emsp; 2. Các bài đánh giá dường như im lặng, chẳng hạn như ném phiếu mua hàng trên sàn và giá
                        trị của các dịch vụ khác không xuất hiện tốt <br>
                        &emsp; 3. Ảnh bị mờ, không tập trung. <br>
                    </li>
                    <li class="sub-item">
                        Đánh giá sai <br>
                        Bạn đã gửi ảnh không liên quan đến bài đánh giá của mình<br>
                    </li>
                    <li class="sub-item">
                        Một số dịch vụ <br>
                        Bài đánh giá được đăng một lần<br>
                        Bạn cần có một đánh giá cho một phiếu mua hàng, nhưng nếu bạn viết đánh giá với nhiều phiếu mua
                        hàng cùng một lúc<br>
                    </li>
                    <li class="sub-item">
                        Đánh giá vi phạm sở hữu trí tuệ <br>
                        1. Chia sẻ tác phẩm của người khác, chẳng hạn như chương trình phát sóng, bản ghi âm, phim và
                        phim hoạt hình mà không có sự đồng ý của các bên <br>
                        2. Vi phạm quyền nhãn hiệu, quyền thiết kế thuộc quyền của người khác mà không được phép <br>
                    </li>
                    <li class="sub-item">
                        Đánh giá tình dục bất hợp pháp<br>
                        1. Cờ bạc bất hợp pháp, quảng bá trang web cờ bạc<br>
                        2. Bán hoặc quảng bá sản phẩm hoặc hàng hóa bất hợp pháp bị cấm bán trên Internet.<br>
                        3. Cung cấp thông tin để giúp thúc đẩy và thực thi các hành vi phạm tội.
                    </li>
                    <li class="sub-item">
                        Các đánh giá không hợp lệ khác<br>
                        1. Nếu bạn đã thực hiện lựa chọn biên tập như 'người chiến thắng đầu tiên', 'người chọn thứ
                        hai', 'một số hoạt động của người biên tập'<br>
                        2. Nếu bạn đã chỉ định một thẻ bắt đầu bằng # mà không có nội dung liên quan đến phiếu mua
                        hàng<br>
                        3. Nếu bạn đã bao gồm trải nghiệm liên quan đến phiếu mua hàng, nhưng thẻ bắt đầu bằng # bắt
                        buộc không được liệt kê chính xác<br>
                        4. Nếu bạn đã chỉ định một bài viết không liên quan đến phiếu mua hàng<br>
                        5. Bạn đã để lại các đánh giá không công bằng (chẳng hạn như tục tĩu, nghịch ngợm, v.v.) không
                        phải là đánh giá hợp lý về đề nghị<br>
                        6. Các trường hợp bất thường như chèn nhiều từ / cụm từ không liên quan nhất định<br>
                        7. Khi đăng các tài liệu như spam,<br>
                        8. Nếu bạn đã viết bài đánh giá cho mục đích sử dụng các dịch vụ khác, chẳng hạn như phơi bày /
                        cung cấp thông tin cá nhân, <br>
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 19 (Quyền và nghĩa vụ của Công ty trong hoạt động của Dịch vụ TRY)
                <ul>
                    <li class="sub-item">
                        1. Nghĩa vụ của Công ty<br>
                        - Công ty bắt đầu tuyển dụng các biên tập viên cho các dịch vụ của các đối tác vào ngày bắt đầu
                        của mỗi chiến dịch. <br>
                        - Công ty chọn 'trình chỉnh sửa tương ứng với mục tiêu' làm trình chỉnh sửa chiến dịch dựa trên
                        sự chân thành.<br>
                        - Công ty hoạt động để tối đa hóa tỷ lệ đánh giá của các biên tập viên và giữ cho đánh giá vi
                        phạm 'nghĩa vụ của người biên tập' được thực hiện bình thường. <br>
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 20 (Giao hàng có thể phân phối)
                <ul>
                    <li class="sub-item">
                        1. Công ty sẽ thông báo cho Người biên tập các bản phân phối miễn phí, và Biên tập viên sẽ không
                        chịu trách nhiệm trước Công ty về bất kỳ sự chậm trễ nào trong việc phân phối Sản phẩm được giao
                        hoặc bất kỳ biên lai trái phép nào do tai nạn.
                    </li>
                    <li class="sub-item">
                        2. Công ty có thể yêu cầu người biên tập viết đánh giá nếu việc cung cấp đề nghị của đối tác đã
                        bắt đầu.
                    </li>
                    <li class="sub-item">
                        3. Trong trường hợp xảy ra sự cố vận chuyển, Công ty sẽ có hành động thích hợp để xác minh các
                        thủ tục và thủ tục với người gửi hàng.
                    </li>
                    <li class="sub-item">
                        4. Công ty thực hiện các biện pháp cần thiết khác như đặt hàng, yêu cầu đóng gói, vv, để hàng
                        hóa có thể được vận chuyển trong thời gian vận chuyển, trừ khi có thỏa thuận riêng với thành
                        viên.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 21 (Rút đăng ký, v.v.)
                <ul>
                    <li class="sub-item">
                        Sau khi được chọn làm biên tập viên, các thành viên được chọn làm biên tập viên không thể hủy
                        đơn đăng ký dịch vụ TRY hoặc mua ưu đãi (trong trường hợp có kinh nghiệm ngay lập tức) hoặc từ
                        bỏ biên tập.
                    </li>
                </ul>
            </li>
        </ul>
        <h2 class="section-title">Chương 3</h2>
        <ul>
            <li class="section-item">
                Điều 22 (Hạn chế sử dụng và hạn chế bản quyền)
                <ul>
                    <li class="sub-item">
                        1. Bản quyền và quyền sở hữu trí tuệ khác của tác phẩm do công ty tạo ra thuộc về công ty.
                    </li>
                    <li class="sub-item">
                        2. Quyền tác giả và các quyền sở hữu trí tuệ khác thuộc về công ty khi thành viên thực hiện công
                        việc cho hàng hóa được cung cấp bằng cách sử dụng dịch vụ TRY của công ty.
                    </li>
                    <li class="sub-item">
                        3. Thành viên sử dụng thông tin thu được khi sử dụng dịch vụ vì mục đích sinh lợi hoặc sử dụng
                        dịch vụ cho bên thứ ba bằng cách sao chép, truyền tải, xuất bản, phân phối, phát sóng và các
                        phương thức khác mà không được sự đồng ý trước của công ty Số
                    </li>
                    <li class="sub-item">
                        4. Công ty sẽ thông báo cho thành viên trong trường hợp sử dụng bản quyền thuộc về thành viên
                        theo thỏa thuận.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 23 (Giải quyết tranh chấp)
                <ul>
                    <li class="sub-item">
                        1. Công ty sẽ thiết lập và vận hành cơ chế bồi thường thiệt hại để phản ánh các ý kiến ​​và
                        khiếu nại hợp pháp của các thành viên và bồi thường thiệt hại của họ.
                    </li>
                    <li class="sub-item">
                        2. Công ty cố gắng đẩy nhanh tiến độ giải quyết khiếu nại và góp ý của các thành viên. Tuy
                        nhiên, nếu việc xử lý nhanh chóng khó, thành viên sẽ được thông báo kịp thời về lý do và tiến độ
                        xử lý.
                    </li>
                    <li class="sub-item">
                        3. Công ty sẽ không chịu trách nhiệm hoặc chịu trách nhiệm về bất kỳ tranh chấp nào phát sinh
                        giữa các thành viên trong Dịch vụ hoặc thiệt hại do sự sơ suất của thành viên. Tuy nhiên, trong
                        trường hợp có thiệt hại do vi phạm Điều khoản này và các luật và quy định liên quan của thành
                        viên khác trong quá trình sử dụng dịch vụ, thành viên có thể báo cáo cho công ty và trong trường
                        hợp đó, công ty có thể xác nhận nội dung báo cáo và thực hiện các biện pháp .
                    </li>
                    <li class="sub-item">
                        4. Thành viên có thể đưa ra các yêu cầu và đề xuất bao gồm các câu hỏi về các dịch vụ được cung
                        cấp bởi công ty thông qua truy vấn trực tuyến và tư vấn qua điện thoại.
                    </li>
                </ul>
            </li>
            <li class="section-item">
                Điều 24 (Bồi thường)
                <ul>
                    <li class="sub-item">
                        1. Công ty được miễn trách nhiệm trong trường hợp không thể cung cấp dịch vụ do triển lãm, công
                        việc, thiên tai, trường hợp khẩn cấp quốc gia, khó khăn kỹ thuật khó giải quyết, hoặc các lý do
                        bất khả kháng khác.
                    </li>
                    <li class="sub-item">
                        2. Công ty sẽ không chịu trách nhiệm về việc tạm ngừng hoặc sử dụng dịch vụ do nguyên nhân của
                        thành viên.
                    </li>
                    <li class="sub-item">
                        3. Công ty sẽ được miễn mọi trách nhiệm trong trường hợp hãng viễn thông ngừng cung cấp dịch vụ
                        viễn thông hoặc không cung cấp dịch vụ thông thường.
                    </li>
                    <li class="sub-item">
                        4. Công ty sẽ được miễn trách nhiệm đối với bất kỳ sự gián đoạn hoặc gián đoạn dịch vụ nào do
                        các nguyên nhân không thể tránh khỏi như sửa chữa, thay thế, kiểm tra thường xuyên, xây dựng,
                        vv.
                    </li>
                    <li class="sub-item">
                        5. Công ty sẽ không chịu trách nhiệm về độ tin cậy, độ chính xác, vv của thông tin, dữ liệu hoặc
                        sự kiện được đăng tải hoặc truyền bởi thành viên trong dịch vụ hoặc trên trang web.
                    </li>
                    <li class="sub-item">
                        6. Công ty không có nghĩa vụ can thiệp vào tranh chấp phát sinh từ dịch vụ lẫn nhau hoặc giữa
                        thành viên và bên thứ ba và không chịu trách nhiệm về những thiệt hại do tranh chấp gây ra.
                    </li>
                </ul>
            </li>
        </ul>
        <strong>Bổ sung</strong>
        <p>Điều 1 (Ngày có hiệu lực) Thỏa thuận này sẽ có hiệu lực kể từ ngày 1 tháng 7 năm 2018.</p>
    </div>
</div>
