.privacy-policy {
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.75;

  .main-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .section-title {
    font-size: 16px;
    font-weight: 600;
  }

  .section-item {
    list-style-type: square;
  }
}
