<div class="component-admin-try">
    <div class="row">
        <div class="col">
            <div class="admin-heading">
                Try Products
            </div>
        </div>
    </div>
    <mat-card class="search-control">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>Product</label>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="" [(ngModel)]="filter.name">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2 display-none">
                <div class="form-group">
                    <label>Display</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.is_disabled">
                                <mat-option value="null">All</mat-option>
                                <mat-option value="Y">Active</mat-option>
                                <mat-option value="N">Finished</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-2 display-none">
                <div class="form-group">
                    <label>Brand</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.brand_id">
                                <mat-option value="null">All</mat-option>
                                <mat-option *ngFor="let brand of brands" value="{{brand.code}}">{{brand.code_nm}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-2 display-none">
                <div class="form-group">
                    <label>Category</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.category_id">
                                <mat-option value="null">All</mat-option>
                                <mat-option *ngFor="let category of categories" value="{{category.code}}">
                                    {{category.code_nm}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Brand</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.brand_id">
                                <mat-option value="null">All</mat-option>
                                <mat-option *ngFor="let brand of brands" value="{{brand.code}}">{{brand.code_nm}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label>Category</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.category_id">
                                <mat-option value="null">All</mat-option>
                                <mat-option *ngFor="let category of categories" value="{{category.code}}">
                                    {{category.code_nm}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Type</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.type">
                                <mat-option value="null">All</mat-option>
                                <mat-option value="398002">Free</mat-option>
                                <mat-option value="398001">Paid</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Delivery Period</label>
                    <div>
                        <mat-form-field class="half-width">
                            <input matInput [matDatepicker]="from" placeholder="From" [(ngModel)]="filter.from"
                                   [max]="filter.to">
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="half-width">
                            <input matInput [matDatepicker]="to" placeholder="To" [(ngModel)]="filter.to"
                                   [min]="filter.from">
                            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                            <mat-datepicker #to></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="pull-right">
                    <button class="btn btn-primary mr-1" (click)="onSearch()"><i class="material-icons align-text-bottom">
                        search
                    </i> <span>Search</span></button>
                    <button class="btn btn-default mr-1" (click)="onReset()"><i class="material-icons align-text-bottom">
                        replay
                    </i> <span>Reset</span></button>
                    <button style="display: none;" class="btn btn-default" (click)="onDownload()" *ngIf="tries && tries.length > 0"><i class="material-icons align-text-bottom">
                        save_alt
                    </i> <span>Excel</span></button>
                </div>
            </div>
        </div>
    </mat-card>
    <!-- <div class="multi-action" *ngIf="selected.length > 0">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary mr-1" [swal]="disableSwal" *ngIf="showDeactivate" (confirm)="onToggleMulti(true)">
                <i class="material-icons align-text-bottom">
                    visibility_off
                </i> <span> Disable</span>
            </button>
            <button class="btn btn-primary mr-1" [swal]="enableSwal" *ngIf="showActive" (confirm)="onToggleMulti(false)">
                <i class="material-icons align-text-bottom">
                    visibility
                </i> <span> Enable</span>
            </button>
            <button class="btn btn-default mr-1" [swal]="deleteSwal" *ngIf="showDelete" (confirm)="onDeleteMulti()">
                <i class="material-icons align-text-bottom">
                    delete
                </i> <span>Delete</span>
            </button>
        </div>
    </div> -->

    <ngx-datatable #myTable class="material" [rows]="tries" [columnMode]="'force'" [headerHeight]="50"
                   [footerHeight]="50"
                   [count]="total" [offset]="pageIndex-1" [limit]="pageSize" [externalPaging]="true"
                   (page)='setPage($event)'
                   [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" (select)='onSelect($event)'
                   [selected]="selected"
                   [externalSorting]="true" (sort)="onSort($event)" [rowHeight]="'auto'">
        <ngx-datatable-column [frozenLeft]="true" [width]="50" [sortable]="false" [canAutoResize]="false"
                              [draggable]="false"
                              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true" [cellClass]="'text-center d-flex justify-content-center'"
                              [headerClass]="'text-center d-flex justify-content-center'">
        </ngx-datatable-column>
        <ngx-datatable-column name="ID" prop="cntnts_no" [canAutoResize]="false" [resizeable]="false" [width]="70" ></ngx-datatable-column>
        <ngx-datatable-column name="Cover" [canAutoResize]="false" [sortable]="false" [headerClass]="'text-center'" [cellClass]="'text-center'" >
            <ng-template let-row="row" ngx-datatable-cell-template class="d-flex justify-content-center">
                <img class="img"
                     [src]="row.file.stre_file_nm ? env.rootHost + row.file.file_cours + '/' + row.file.stre_file_nm : env.rootHost + row.file.file_cours"
                     *ngIf="row.resource_type == 1 && row.file.file_cours" target="_blank"/>
                <img class="img" [src]="'/assets/images/noimage.jpg'"
                     alt="Review image" *ngIf="row.resource_type == 1 && !row.file.file_cours">
                <a class="link" href="{{row.file.file_cours}}" *ngIf="row.resource_type == 2" target="_blank">Link</a>
                <video *ngIf="row.resource_type == 3" width="160" height="120" controls muted>
                    <source [src]="env.rootHost + row.file.file_cours + '/' + row.file.stre_file_nm">
                </video>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" prop="cntnts_nm" [resizeable]="false" [width]="150"></ngx-datatable-column>
        <ngx-datatable-column name="Brand" prop="brand.code_nm" [resizeable]="false" [width]="80"
            [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.brand.code_nm }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Category" prop="category_name" [resizeable]="false" [width]="80"
            [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.category_name }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Delivery date" prop="dlvy_dt" [resizeable]="false" [width]="80" [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{ row.dlvy_dt | date : 'yyyy/MM/dd' }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Delivered" [resizeable]="false" [width]="80"  prop="event_bgnde">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span> {{row.event_trgter_co}} / {{row.total_delivered}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [resizeable]="false" [width]="80"  prop="event_bgnde">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.event_trgter_co == row.total_delivered"> Delivered </span>
                <span *ngIf="row.event_trgter_co !== row.total_delivered"> Delivering </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Type" prop="event_knd_code" [headerClass]="'text-center'" [cellClass]="'text-center'" [width]="100" [canAutoResize]="false"
                              [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.event_knd_code == "398001" ? "Paid" : "Free" }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false" [maxWidth]="100" [headerClass]="'text-center'" [cellClass]="'text-center'">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button [matMenuTriggerFor]="userActions">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #userActions="matMenu">
                    <a mat-menu-item href="{{env.webUrl + '/tries/' + row.slug}}" target="_blank" class="datatable-action-button" style="text-decoration: none; color: #222;">
                        <mat-icon>open_in_new</mat-icon>
                        <span>View</span>
                    </a>
                    <a mat-menu-item [routerLink]="['/admin/winner/try', row.cntnts_no]" class="datatable-action-button" style="text-decoration: none; color: #222;">
                        <mat-icon>
                            star_rate
                        </mat-icon>
                        <span>Winners</span>
                    </a>
                </mat-menu>
            </ng-template>
        </ngx-datatable-column>
        
<!--        <ngx-datatable-column name="Winners" [headerClass]="'text-center'" [cellClass]="'text-center'" [canAutoResize]="false" [resizeable]="false" [width]="80">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template class="d-flex justify-content-center">-->
<!--                <mat-icon [routerLink]="['/admin/winner/try', row.cntnts_no]" class="mat-icon-no-color pointer">-->
<!--                    star_rate-->
<!--                </mat-icon>-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->
    </ngx-datatable>
    <select (change)="changePageLimit($event.target.value)" class="page-limit">
        <option
          *ngFor="let option of pageLimitOptions"
          [value]="option.value"
          [selected]="option.value == pageSize"
        >
          {{option.value}} per page
        </option>
      </select>
  
</div>

