@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";
@import "~scss/reset";

#registerMasterWrap {
  font-size: 13px;
  font-family: 'Roboto-Regular';
  max-width: 600px;
  margin: 25px auto;

  .register-wrapper {
    .register-container {
      box-shadow: none;
      background: #fff;

      .register-body {
        width: 100%;
        padding: 0 20px;

        .register-content {
          width: 100%;
          line-height: 1.5;

          .form-header {
            .title {
              text-align: center;
              margin-bottom: 28px;
              font-size: 28px;
              color: #181818;
              font-weight: 600;
            }
          }

          .form-content {

            form {
              width: 100%;
              line-height: 1.25;

              .label {
                color: #000;
                display: block;
                margin-bottom: 8px;
                font-weight: 600;
              }

              .input-full-width {
                font-size: 13px;
                font-family: 'Roboto-Regular';
                outline: none;
                border-radius: 3px;
                padding: 11px 16px;
                width: 100%;
                background-color: #ffffff;
                border: 1px solid #ddd;
                line-height: 1.15;
                color: #222;
              }

              input.input-full-width:focus {
                outline: 0;
                background-color: #fff;
                border-color: #0099ff;
              }

              input.term-checkbox:checked ~ .checkmark:after {
                display: block;
              }

              .checkbox-container {
                display: block;
                position: relative;
                padding-left: 21px;
                margin-top: 12px;
                cursor: pointer;
                user-select: none;

                .term-checkbox {
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                }

                .checkbox-title {
                  font-weight: normal;

                  a {
                    color: #0099ff;
                    text-decoration: underline;
                    font-weight: 600;
                  }
                }

                .checkmark {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 16px;
                  width: 16px;
                  background-color: #fff;
                  border: 2px solid #dadfe6;
                  border-radius: 2px;

                  &:hover {
                    border-color: #0099ff;
                  }
                }

                .checkmark:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 4px;
                  top: 0;
                  width: 5px;
                  height: 10px;
                  border: solid #000;
                  border-width: 0 3px 3px 0;
                  transform: rotate(45deg);
                }

              }

              .is-invalid {
                border-color: $error_color;
              }

              .invalid {
                border-color: $error_color;
              }

              .form-control-group {

                p {
                  text-align: center;
                  color: #000;
                }

                .socials {
                  cursor: pointer;
                  text-align: center;
                  background-color: #4267b2;
                  padding: 12px 0;
                  border-radius: 35px;
                  font-weight: 600;

                  &:hover {
                    background-color: #036;
                  }
                }

                span.social-link {
                  color: #fff;
                  font-family: 'Roboto-Regular';
                  text-transform: uppercase;
                  cursor: pointer;
                  font-size: 12px;
                }

                a.login-link {
                  color: #a4abb3;
                  font-weight: bolder;
                }
              }

              small {
                margin-top: 4px;
                font-size: 12px;
                line-height: 1.5;
                color: $error_color !important;
              }

              .register-action {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                .register-btn {
                  font-size: 12px;
                  text-transform: uppercase;
                  font-weight: 600;
                  outline: none;
                  cursor: pointer;
                  border-radius: 35px;
                  padding: 7px 15px 5px;
                  color: #fff;
                  background-color: #f14c7f;
                  border-color: transparent;
                  box-shadow: none;

                  &:hover {
                    background-color: #0099ff;
                  }
                }
              }

              .divider {
                text-align: center;
                position: relative;
                margin-bottom: 20px;

                &:before {
                  content: '';
                  position: absolute;
                  bottom: 6px;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background-color: #999;
                  z-index: 10;
                }

                span {
                  font-family: 'Roboto-Regular';
                  color: #999999;
                  position: relative;
                  padding: 0 10px;
                  background-color: #fff;
                  z-index: 20;
                }
              }

            }
          }
        }
      }
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-32 {
  margin-bottom: 25px;
}

@include phone {
  #registerMasterWrap {
    .register-wrapper {
      padding: 0;

      .register-container {
        height: auto;
      }
    }
  }

  #registerMasterWrap .register-wrapper .register-container .register-body
  .register-content .form-content form .register-action .check-box-group {
    width: 50%;
  }
}
