<div id="registerMasterWrap">
    <div class="register-wrapper">
        <div class="register-container">
            <div class="register-body">
                <div class="register-content">
                    <div class="form-content">
                        <form [formGroup]="registerForm" method="post">
                            <div class="form-control-group mb-32">
                                <label class="label" for="fullName">{{ "full_name" | translate}}:</label>
                                <input type="text" id="fullName" class="form-control input-full-width" [(ngModel)]="model.name"
                                       formControlName="fullName" name="fullName" placeholder="{{ 'full_name' | translate}}"
                                       [ngClass]="{ 'is-invalid': submitted && form.fullName.errors }">
                                <div *ngIf="submitted && form.fullName.errors">
                                    <small id="fullNameHelp" class="form-text text-muted">{{ "full_name_empty" | translate}}</small>
                                </div>
                            </div>
                            <div class="form-control-group mb-32">
                                <label class="label" for="displayName">{{ 'displayName' | translate }}:</label>
                                <input type="text" id="displayName" class="form-control input-full-width" [(ngModel)]="model.id"
                                       pattern="^(?=.{1,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._-]+(?<![_.])$"
                                       formControlName="displayName" name="displayName" placeholder="{{ 'displayName' | translate}}"
                                       [ngClass]="{ 'is-invalid': submitted && form.displayName.errors }">
                                <div *ngIf="submitted && form.displayName.errors" class="email-valid">
                                    <small class="form-text text-muted" *ngIf="form.displayName.errors.required">{{ "display_name_empty" | translate}}</small>
                                    <small class="form-text text-muted" *ngIf="form.displayName.errors.pattern">{{ "display_name_invalid" | translate}}</small>
                                </div>
                                <div *ngIf="submitted && isDisplayNameExisted" class="email-valid">
                                    <small class="form-text text-muted" id="displayNameHelp">{{ "display_name_existed" | translate }}</small>
                                </div>
                            </div>
                            <div class="form-control-group mb-32">
                                <label class="label" for="email">{{ "email" | translate}}:</label>
                                <input type="email" id="email" class="form-control input-full-width" [(ngModel)]="model.email"
                                       formControlName="email" name="email" placeholder="{{ 'email' | translate}}"
                                       [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
                                <div *ngIf="submitted && form.email.errors" class="email-valid">
                                    <small class="form-text text-muted" *ngIf="form.email.errors.required">{{ "email_empty" | translate}}</small>
                                    <small class="form-text text-muted" *ngIf="form.email.errors.email">{{ "email_invalid" | translate}}</small>
                                </div>
                                <div *ngIf="submitted && isEmailExisted" class="email-valid">
                                    <small class="form-text text-muted" id="emailHelp">{{ "email_existed" | translate }}</small>
                                </div>
                            </div>
                            <div class="form-control-group mb-32">
                                <label class="label" for="password">{{ "password" | translate }}:</label>
                                <input type="password" id="password" class="form-control input-full-width" [(ngModel)]="model.password"
                                       formControlName="password" name="password" placeholder="{{ 'password' | translate }}"
                                       [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
                                <div *ngIf="submitted && form.password.errors">
                                    <small class="form-text text-muted" *ngIf="form.password.errors.required">{{ "password_empty" | translate }}</small>
                                    <small class="form-text text-muted" *ngIf="form.password.errors.minlength">{{ "password__minimum_length" | translate }}</small>
                                </div>
                            </div>
                            <div class="form-control-group mb-32">
                                <label class="label" for="rePassword">{{ "confirm_password" | translate }}:</label>
                                <input type="password" id="rePassword" class="form-control input-full-width" [(ngModel)]="model.rePassword"
                                       formControlName="rePassword" name="rePassword" placeholder="{{ 'confirm_password' | translate }}"
                                       [ngClass]="{ 'is-invalid': submitted && notSame , 'invalid': submitted && form.rePassword.errors}">
                                <div *ngIf="submitted">
                                    <small class="form-text text-muted" *ngIf="form.rePassword.errors">{{ "confirm_password_empty" | translate }}</small>
                                    <small class="form-text text-muted" *ngIf="notSame">{{ "confirm_password_not_match" | translate }}</small>
                                </div>
                            </div>
                            <div class="register-action">
                                <div class="check-box-group">
                                    <label class="checkbox-container">
                                        <input type="checkbox" name="agreeTerm" class="term-checkbox" [(ngModel)]="agreeTerm" formControlName="agreeTerm"
                                               [ngClass]="{ 'is-invalid': submitted && !agreeTerm }">
                                        <span class="checkbox-title">
                                            {{ "agree_to" | translate }} <a routerLink="/term-policy">{{ "term_policy" | translate }}</a>
                                        </span>
                                        <span class="checkmark"></span>
                                    </label>
                                    <div *ngIf="submitted && !agreeTerm">
                                        <small class="form-text text-muted">{{ "not_agree_with_term" | translate }}</small>
                                    </div>
                                </div>
                                <button type="button" class="register-btn" aria-disabled="false"
                                        tabindex="0" (click)="onSubmit()"> {{ "register" | translate }}
                                </button>
                            </div>
                            <div class="divider" *ngIf="!isVerifyAccount">
                                <span>{{ 'or' | translate }}</span>
                            </div>
                            <div class="form-control-group" *ngIf="!isVerifyAccount">
                                <div class="socials">
                                    <span (click)="loginWithFacebook()" class="social-link">
                                        {{ 'login_by_facebook' | translate}}
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
