<div class="component-admin-review">
    <div class="row">
        <div class="col-12">
            <div class="admin-heading">
                {{ "review_detail" | translate }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="review-title-block">
                <label>Title</label>
                <p class="review-title">{{review.goods_nm}}</p>
            </div>
            <div class="review-body">
                <label>Short Description</label>
                <p>{{review.review_short}}</p>
            </div>
            <div class="review-body">
                <label>Description</label>
                <p [innerHtml]="review.review_dc | safeHtml"></p>
            </div>
        </div>
    </div>
    <div class="actions d-flex justify-content-end col-md-8">
        <a routerLink="/admin/reviews" class="btn-hero btn-cancel">{{ "back" | translate }}</a>
    </div>
</div>
