@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";
.tries {
    padding-bottom: 20px;
    padding-top: 40px;
    .loading-block {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .content {
        margin-bottom: 20px;
    }
    .status {
        font-size: 12px;
        font-family: 'Roboto-Regular';
        .comming {
            color: #F1D14F;
        }
        .inprogress {
            color: #44D67B;
        }
        .end {
            color: #F14C4C;
        }
    }
    .name {
        font-weight: 600;
        font-size: 15px;
        font-family: 'Roboto-Regular';
        color: #222;
        margin: 5px 0;
    }
    .short-description {
        font-size: 12px;
        color: #666666;
    }
    .social-info {
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid #d7d7d7;
        .share-btn {
            cursor: pointer;
        }
        .share-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .share-ico {
                height: 25px;
                ;
            }
        }
        .like-container {
            display: flex;
            width: 100%;
            align-items: center;
            padding: 5px 0;
            .action-btn {
                border: none;
                background-color: transparent;
                font-size: 26px;
                color: #535353;
                margin-right: 5px;
                cursor: pointer;
                i {
                    font-size: 25px;
                }
                .share-icon {
                    width: 25px;
                    height: 25px;
                    background-image: url("assets/icons/share-icon.png");
                    background-repeat: no-repeat;
                }
                &:hover {
                    color: #f14c7f;
                }
                &.active {
                    color: #f14c7f !important;
                }
            }
            .number-of-like {
                font-size: 12px;
                font-family: 'Roboto-Regular';
                color: #222;
            }
            .user-likes {
                margin-left: 10px;
                display: flex;
                .circle-avt {
                    overflow: hidden;
                    margin-right: 5px;
                    img {
                        cursor: pointer;
                        object-fit: cover;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .price {
        padding: 15px 0 12px;
        border-bottom: 2px solid #d7d7d7;

        .d-flex{
            justify-content: space-between;
        }

        .sale {
            font-size: 27px;
            font-family: 'Roboto-Regular';
            color: #f14c7f;
            font-weight: 600;
            .currency {
                margin-left: 3px;
                font-size: 17px;
                font-family: 'Roboto-Regular';
            }
        }
        .origin {
            color: #999999;
            font-size: 22px;
            font-weight: 300;
            text-decoration: line-through;
            .currency {
                margin-left: 3px;
                font-size: 14px;
            }
        }
    }
    .count-down-container {
        margin-top: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid #d7d7d7;
        .count-down {
            .title {
                font-size: 14px;
                font-family: 'Roboto-Regular';
                color: #222;
                margin-bottom: 10px;
            }
            .count-down-time {
                display: flex;
                .tick {
                    width: 60px;
                    margin-right: 5px;
                    color: #222;
                    .number {
                        text-align: center;
                        background: #eeeeee;
                        font-size: 46px;
                        font-weight: 300;
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }
                    .desc {
                        text-align: center;
                        font-size: 12px;
                        font-family: 'Roboto-Regular';
                    }
                }
            }
            &.done {
                .title {
                    font-size: 40px;
                }
            }
        }
        .product-info {
            color: #222;
            .title {
                font-size: 14px;
                font-family: 'Roboto-Regular';
            }
            .number {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }
    .control {
        margin-top: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid #d7d7d7;
        .btn-try {
            border-radius: 25px;
            text-align: center;
            font-size: 15.5px;
            font-weight: 600;
            color: #222;
            border: 1px solid #222;
            padding: 10px 0;
            width: 100%;
            cursor: pointer;

            &.applied {
                border: none;
                background: #eee;
            }
        }
        .btn-cart {
            border-radius: 25px;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            color: #222;
            border: 1px solid #222;
            padding: 10px 0;
            width: 100%;
            display: block;
            line-height: 1;
        }

        span.btn-cart {
            cursor: pointer;
        }
    }
    .try-content {
        ::ng-deep {
            .panel {
                border: 0;
                border-radius: 0;
                .panel-default {
                    padding-top: 5px;
                    border-bottom: 2px solid #d7d7d7;
                }
                .panel-heading {
                    padding: 0;
                    background: transparent;
                    border: 0;
                    border-radius: 0;
                    .btn-link {
                        padding: 10px 0;
                        color: #222;
                        font-size: 14px;
                        font-family: 'Roboto-Regular';
                    }
                }
                .up {
                    display: none;
                }
                .panel-body {
                    font-size: 12px;
                    color: #666666;
                    padding: 0;
                    .description {
                        img {
                            max-width: 100%;
                            height: 100% !important;
                            object-fit: cover;
                        }

                        p {
                            white-space: pre-line;
                        }

                        .desc-img {
                            object-fit: contain;
                            height: auto !important;
                        }
                    }
                }
            }
            .panel-open {
                .up {
                    display: block;
                }
                .down {
                    display: none;
                }
            }
        }
    }
    .winner-info {
        padding: 15px 0;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        .user-block {
            padding-right: 100px;
            display: flex;
            align-items: center;
            .user-avt {
                object-fit: cover;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 15px;
            }
            .user-info {
                .user-name {
                    display: block;
                    font-family: 'Roboto-Regular';
                    font-size: 14px;
                    color: #333;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100px;
                }
                .number-of-follows {
                    display: block;
                    font-size: 12px;
                    line-height: 1.1;
                    color: #999;
                }
            }
        }
        .follow-btn {
            background-color: #fff;
            display: flex;
            align-items: center;
            color: #f14c7f;
            font-size: 12px;
            padding: 0px 5px 0 10px;
            border: 1px solid #f14c7f;
            border-radius: 20px;
            cursor: pointer;
            height: 24px;
            width: 85px;
            position: absolute;
            right: 0px;
            top: 23px;
            transition: all 500ms;
            margin: auto;
            span {
                padding-right: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 80px;
                display: block;
            }
            .material-icons {
                font-size: 16px;
            }
            &:hover {
                background-color: #f14c7f;
                color: #fff;
            }
        }
        .follow-btn.active {
            background-color: #f14c7f !important;
            color: #fff !important;
            width: 97px;
            &:hover {
                background-color: #fff;
                color: #f14c7f;
            }
        }
    }
}

@include tablet {
    .tries {
        .image-slider-block, .try-content-block {
            max-width: unset;
            width: 100%;
            flex: unset;
            margin-bottom: 20px;
        }
        .tries .social-info .like-container .action-btn:hover {
            color: #535353;
        }
        .tries .winner-info .follow-btn:hover {
            background-color: #fff;
            color: #f14c7f;
        }
        .price {
            .sale {
            }
            .origin {
            }
        }
    }
}

@include phone {
    .tries {
        padding: 10px 0;
        .col-md-6 {
            max-width: unset;
            width: 100%;
            flex: unset;
            margin-bottom: 0;
        }
        .count-down-container {
            .product-info {
                .title {
                    font-size: 12px;
                    display: inline;
                }
                .number {
                    font-size: 12px;
                    margin-left: 10px;
                    display: inline;
                }
            }
            .count-down {
                .count-down-time {
                    margin-bottom: 15px;
                    justify-content: center;
                    .tick {
                        .number {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .control {
            .btn-try {
                padding: 5px 0;
                font-size: 14px;
                margin-bottom: 15px;
            }
            .btn-cart {
                padding: 5px 0 7px;
                font-size: 14px;
                img {
                    height: 15px;
                }
            }
        }
        .try-content {
            ::ng-deep {
                .panel {
                    .panel-heading {
                        .btn-link {
                            font-size: 12px;
                            padding: 0;

                            .material-icons {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .tries .social-info .like-container .action-btn:hover {
        color: #535353;
    }
    .tries .winner-info .follow-btn:hover {
        background-color: #fff;
        color: #f14c7f;
    }

    .price {
        .d-flex{
            flex-direction: column;
            justify-content: flex-start;
        }
        .sale {
            text-align: center;
        }
        .origin {
            text-align: center;
        }
    }
}
