<div class="app-admin-campaign-edit">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">

            <div class="admin-heading">
                CAMPAIGN > EDIT
            </div>
            <div>
                <button class="btn btn-default" routerLink="/admin/campaign"><i
                        class="material-icons align-text-bottom">
                        arrow_back
                    </i> <span>Back</span></button>
            </div>
        </div>
    </div>

    <app-admin-campaign-tab [tryId]="campaign.cp_try_id"></app-admin-campaign-tab><br>
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label>{{ "Campaign name" | translate }}<span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="cp_name"
                                [(ngModel)]="form.value.cp_name" name="name" />
                            <ng-container *ngIf="campaignErrors?.cp_name">
                                <div *ngFor="let item of campaignErrors.cp_name" style="color:red">
                                    {{item}}
                                </div>
                            </ng-container>
                            <div style="color:red" *ngIf="form.value.cp_name=='' && active==true">
                                Campaign name is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Text Color</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <select class='form-control' formControlName="cp_text_color"
                                [(ngModel)]="form.value.cp_text_color">
                                <option *ngFor="let item of colors" [value]="item.CODE">{{item.CODE_NM}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>{{ "Output Text" | translate }}</label>
                    </div>
                    <div class="col-md-4">
                        <mat-radio-group name="radio_cp_output_text" [(ngModel)]="cpOutputText"
                            (change)="checkCpOutputText()" formControlName="radio_cp_output_text">
                            <div class="row output-text">
                                <div class="col-md-6">
                                    <mat-radio-button name="radio_cp_output_text" [value]="1" color="primary">
                                        Coundown</mat-radio-button>
                                </div>
                                <div class="col-md-6">
                                    <mat-radio-button name="radio_cp_output_text" [value]="2" color="primary">
                                        Customer text</mat-radio-button>
                                </div>
                            </div>

                        </mat-radio-group>
                    </div>
                    <!-- <div class="col-md-2">
                        <div class="form-group">
                            <label><input type="radio" class="form-control" value="1" name="cp_output_text" />Coundown</label>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><input type="radio" (change)="checkInputCustomerText()" class="form-control" value="2" name="cp_output_text" />Customer
                                text</label>
                        </div>
                    </div> -->
                    <div class="col-md-5" *ngIf="isInputCustomerText">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="cp_output_text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>{{ "Short Description " | translate }}</label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <textarea name="" formControlName="cp_short_description"
                                [(ngModel)]="form.value.cp_short_description" class="form-control" f id="" cols="30"
                                rows="10"></textarea>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Description <span style="color: red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <ck-editor [(ngModel)]="form.value.cp_description" formControlName="cp_description"
                                skin="moono-lisa" language="en" [fullPage]="true" name="description"></ck-editor>
                            <div style="color:red"
                                *ngIf="form.value.cp_description=='<html><head><title></title></head><body></body></html>'&& active==true">
                                Description is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>{{ "Hashtag" | translate }} </label>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" formControlName="cp_hashtag" />
                        </div>
                    </div>
                </div>
                <div class="form">
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Disabled" | translate }}</label>
                        </div>
                        <div class="col-md-2">
                            <label class="switch">
                                <input (click)="setState(checkedstate ? 0 : 1)" type="checkbox"
                                    [checked]="checkedstate == 1">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Brand" | translate }}<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" formControlName="cp_brand"
                                    [(ngModel)]="form.value.cp_brand" name="name" />
                                <ng-container *ngIf="campaignErrors?.cp_brand ">
                                    <div *ngFor="let item of campaignErrors.cp_brand" style="color:red">
                                        {{item}}
                                    </div>
                                </ng-container>
                                <div style="color:red" *ngIf="form.value.cp_brand==''&& active==true">
                                    Brand is required
                                </div> -->

                                <select class='form-control' [(ngModel)]="form.value.cp_brand"
                                    formControlName="cp_brand" [(ngModel)]="form.value.cp_brand">
                                    <option value="{{item['CODE']}}" *ngFor="let item of brands">
                                        {{item['CODE_NM']}}</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Category<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <select class='form-control' [(ngModel)]="form.value.cp_category"
                                    formControlName="cp_category" [(ngModel)]="form.value.cp_category">
                                    <option value="{{item['cd_id']}}" *ngFor="let item of dataBlind.category">
                                        {{item['cd_label']}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Model" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="cp_model" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Product url" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" [(ngModel)]="form.value.cp_product_url"
                                    formControlName="cp_product_url" name="name" />
                                <!-- <div *ngIf="form.value.cp_product_url!='' && !commonService.validUrl(this.form.controls.cp_product_url.value, '')&& active==true"
                                    class="text-danger">URL is invalid</div> -->
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Type" | translate }}<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label><input type="radio" [checked]="!form.value.cp_type" class="form-control"
                                        name="type" (click)="setType(0)" />Free</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label><input type="radio" [checked]="form.value.cp_type == 1" class="form-control"
                                        name="type" (click)="setType(1)" />Paid</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Price" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                    class="form-control" formControlName="cp_product_price" name="name" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Sale price" | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                    class="form-control" formControlName="cp_campaign_price" name="name"
                                    (keypress)="numberOnly($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Period<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group period">

                                <div class="from">
                                    <input placeholder="Date Time:" formControlName="cp_period_start"
                                        [owlDateTimeTrigger]="start_date" [(ngModel)]="cpDate.cp_period_start"
                                        class="form-control" [owlDateTime]="start_date">
                                    <owl-date-time #start_date></owl-date-time>
                                    <div *ngIf="form.controls.cp_period_start.invalid && (form.controls.cp_period_start.dirty || form.controls.cp_period_start.touched)"
                                        class="text-danger">
                                        <div *ngIf="form.controls.cp_period_start.errors.required && active==true">
                                            Period start is required
                                        </div>
                                    </div>
                                </div>
                                &nbsp;~&nbsp;
                                <div class="to">
                                    <input placeholder="Date Time:" formControlName="cp_period_end"
                                        [owlDateTimeTrigger]="end_date" [(ngModel)]="cpDate.cp_period_end"
                                        class="form-control" [owlDateTime]="end_date">
                                    <owl-date-time #end_date></owl-date-time>
                                    <div *ngIf="form.controls.cp_period_end.invalid && (form.controls.cp_period_end.dirty || form.controls.cp_period_end.touched)"
                                            class="text-danger">
                                        <div *ngIf="form.controls.cp_period_end.errors.required && active==true">
                                            Period end is required
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Select keyword" | translate }}<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9 flex">
                            <div *ngFor="let item of dataBlind.keyWord" class="itemcheck_groub">
                                <label class="itemcheck">
                                    <input type="checkbox" (click)="pushKeyWord(item['cd_id'], $event)"
                                        [checked]="item['checked']">
                                    <span class="checkmark"></span>
                                </label>
                                <label>{{item['cd_label']}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 flex">
                            <div style="color:red" *ngIf="dataBlind.keyWordChoose.length==0&& active==true">
                                keyword is required
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-3">
                            <label>{{ "Join Max Count" | translate }}<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                    class="form-control" [(ngModel)]="form.value.cp_total_free"
                                    formControlName="cp_total_free" />
                                <div style="color:red" *ngIf="form.value.cp_total_free==null&& active==true">
                                    Join Max Count is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>Recruitment fiStar<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                                    class="form-control" max="10" [(ngModel)]="form.value.cp_total_influencer"
                                    formControlName="cp_total_influencer" />
                                <ng-container *ngIf="campaignErrors?.cp_total_influencer">
                                    <div *ngFor="let item of campaignErrors.cp_total_influencer" style="color:red">
                                        {{item}}
                                    </div>
                                </ng-container>
                                <div style="color:red" *ngIf="form.value.cp_total_influencer==null&& active==true">
                                    Recruitment fiStar is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Delivery start date" | translate }}<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- <input type="text" formControlName="cp_delivery_start_date" class="form-control" /> -->
                                <mat-form-field>
                                    <mat-datepicker-toggle [for]="delivery_start_date" matSuffix>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #delivery_start_date type="datetime" openOnFocus="true"
                                        timeInterval="5"></mat-datepicker>
                                    <input matInput class="form-control" readonly
                                        formControlName="cp_delivery_start_date" [matDatepicker]="delivery_start_date"
                                        required autocomplete="false" placeholder="From">
                                        <div *ngIf="form.controls.cp_delivery_start_date.invalid && active==true " class="text-danger">
                                            <div *ngIf="form.controls.cp_delivery_start_date.errors.required">
                                                delivery start is required
                                            </div>
                                        </div>
                                </mat-form-field>
                              
                            </div>
                            
                        </div>
                      
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label>{{ "Delivery end date" | translate }}<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" formControlName="cp_delivery_end_date" /> -->
                                <mat-form-field>
                                    <mat-datepicker-toggle [for]="delivery_end_date" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #delivery_end_date type="datetime" openOnFocus="true"
                                        timeInterval="5"></mat-datepicker>
                                    <input matInput class="form-control" readonly formControlName="cp_delivery_end_date"
                                        [matDatepicker]="delivery_end_date" required autocomplete="false"
                                        placeholder="To">
                                        <div *ngIf="form.controls.cp_delivery_end_date.invalid && active==true" class="text-danger">
                                            <div *ngIf="form.controls.cp_delivery_end_date.errors.required  ">
                                                delivery end is required
                                            </div>
                                        </div>
                                </mat-form-field>
                               
                            </div>
                           
                        </div>

                    </div>


                    <!-- <div class="row">
                        <div class="col-md-3">
                            <label>Main image<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9">
                            <app-softone-resource #resource
                                [resource]="{ url: null, resource_type: '1', image_url: null, image_fistar_url: commonService.getImageLink(campaign.cp_main_image, 'campaigns', 'original') }"
                                [resizeToWidth]="1920" [aspectRatio]="4/4" (ouputItem)="getImageMain($event)"
                                [needToCrop]="false">
                            </app-softone-resource>
                            <div class="form-group groub_item">
                                <!-- <div>
                                    <label (click)="chooseAttack(1)"> Image Attachment<input
                                            [checked]="form.value.cp_attachment_type == 1" type="radio" name="text">
                                    </label>
                                    <label (click)="chooseAttack(2)"> Url<input type="radio"
                                            [checked]="form.value.cp_attachment_type == 2" name="text"> </label>
                                    <label (click)="chooseAttack(3)"> Attachment<input
                                            [checked]="form.value.cp_attachment_type == 3" type="radio" name="text">
                                    </label>
                                </div>
                                <div class="item_child" *ngIf="form.value.cp_attachment_type == 1">
                                    <input type="file" accept="image/*" (change)="setTypeAttack($event)">

                                </div>
                                <div class="item_child" *ngIf="form.value.cp_attachment_type == 2">
                                    <input type="text" [(ngModel)]="filetextLink" [ngModelOptions]="{standalone: true}">

                                </div>
                                <div class="item_child" *ngIf="form.value.cp_attachment_type == 3">
                                    <input type="file" accept="video/mp4,video/x-m4v,video/*"
                                        (change)="setTypeAttack($event)">
                                </div> -->
                    <!-- </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-md-3">
                            <label>Main image<span style="color:red">(*)</span></label><br>
                            <label>(image size : 670px x 470px)</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <app-softone-resource #resource
                                    [resource]="{  url: campaign.cp_main_image_type==2 ? campaign.cp_main_image:'/storage/campaigns/'+campaign.cp_main_image, resource_type: campaign.cp_main_image_type, image_url: null, image_fistar_url: commonService.getImageLink(campaign.cp_main_image, 'campaigns', 'original')  }"
                                    [resizeToWidth]="1920" [aspectRatio]="19/6" (ouputItem)="getImageMain($event)">
                                </app-softone-resource>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-3">
                            <label>Images<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="file" #image accept="image/*" (change)="setcpImage($event)">
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-3">
                            <label>Images</label><br>
                            <label for="">(image size : 720px x 1280px)</label>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <app-admin-multiple-images-softone #images [images]="{ data: dataImage}"
                                    [resizeToWidth]="720" [aspectRatio]="1 / 1"></app-admin-multiple-images-softone>
                                <div class="text-danger">
                                    Choose at least one image
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <label>Images Description</label>
                        </div>
                        <div class="col-md-9">
                            <app-softone-resource #resource
                                [resource]="{ change_type: 'deny', url: null, resource_type: '1', image_url: null, image_fistar_url: commonService.getImageLink(campaign.cp_image, 'campaigns', 'original') }"
                                [resizeToWidth]="1920" [aspectRatio]="3/4" (ouputItem)="getImageDescription($event)"
                                [needToCrop]="false">
                            </app-softone-resource>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-4">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="row align-items-center" *ngFor="let fistar of fistarsChannel">
                                <div class="col-sm-6">
                                    <div class="avatar">
                                        <img [src]="commonService.getImageLink(fistar.item.avatar ? fistar.item.avatar : fistar.item.picture, 'fistars', 'thumbnail')"
                                            width="100%" height="100%">
                                    </div>
                                    {{fistar.item.name}}
                                </div>
                                <div class="col-sm-2">
                                    <select (change)="changeSNS($event, fistar)" [value]="fistar.sns"
                                        class="form-control">
                                        <option value={{fistar.sns}}>{{fistar.sns_name}}</option>
                                        <option value={{item}} *ngFor="let item of channelBox[fistar.item.uid]">
                                            {{getChannelName(item)}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">{{fistar.sns_cost}} VND</div>
                                <div class="col-sm-2" (click)="removeFistar(fistar)">[x]</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9">
                            <button type="button" class="btn btn-info" (click)="openModal(template)"><i
                                    class="fas fa-search"></i> FiStar Search</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">Estimated promotion cost for {{fistarsChannel.length}} fiStar</div>
                        <div class="col-sm-3">{{countTotalFee()}}</div>
                        <div class="col-sm-3">VND</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions d-flex justify-content-end col-md-8">
            <button class="btn btn-default mr-1" routerLink="/admin/campaign">
                <i class="material-icons align-text-bottom">
                    cancel
                </i> <span> {{ "cancel" | translate }}</span>
            </button>
            <button class="btn btn-primary mr-1" (click)="save()">
                <i class="material-icons align-text-bottom">
                    save
                </i> <span> {{ "save" | translate }}</span>
            </button>
        </div>
    </form>
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Fistar Search</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <admin-campaign-fistar-search (update)="matchFistar($event)"></admin-campaign-fistar-search>
        </div>
    </ng-template>
</div>