@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";

.app-admin-fistar-recommend {
    .multi-action {
        margin-top: 30px;
    }
    .action{
        i{
            cursor: pointer;
            margin-right: 15px;
            color: #b0b0b0;
            font-size: 20px;
            margin-top: 6px;
        }
    }
    .btn {
        i {
            font-size: 20px;
        }
    }
    .search-control{
        .row{
           .col-2{
               .form-group{
                   .none-label{
                       margin-top: 30px;
                   }
               }
           }
        }
    }
    mat-checkbox {
        margin-right: 10px;
    }
}

.wf-box-group {
    margin-top: 30px;
    .box-item {
        .card{
            border: none;
            border-radius: 0;
        img {
            width: 100%;
            height: 150px;
        }

        .card-body {
            border: 1px solid #e1e1e1;
            .tags-box {
                display: flex;
                flex-wrap: wrap;
                a {
                    display: block;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    }
}