@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";
@import "~scss/custom";

.app-admin-campaign-review {
    .multi-action {
        margin-top: 30px;
    }
    .action{
        i{
            cursor: pointer;
            margin-right: 15px;
            color: #b0b0b0;
            font-size: 20px;
            margin-top: 6px;
        }
    }
    .btn {
        i {
            font-size: 20px;
        }
    }
    .search-control{
        .row{
           .col-2{
               .form-group{
                   .none-label{
                       margin-top: 30px;
                   }
               }
           }
        }
    }
}

.search{
    .active-bg{
        background-color: #aaa!important;
    }
    table{
        tbody{
            tr{
                td{
                    cursor: pointer;
                }
                .active-bg{
                    background-color: #aaa!important;
    
                }
            }
        }
    }
}
.navbar{
    margin-bottom: 1rem;
    .collapse{
        .navbar-nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}