<div class="component-admin-comment">
    <div class="row">
        <div class="col-12">
            <div class="admin-heading">
                Comment
            </div>
        </div>
    </div>

    <ngx-datatable #myTable class="material" [rows]="comments" [columnMode]="'force'" [headerHeight]="50" [offset]="pageIndex-1" 
        [footerHeight]="50" [rowHeight]="'auto'" [count]="totalComments"
        [rowHeight]="'auto'" [externalPaging]="true" (page)='setPage($event)'>

        <ngx-datatable-column name="Content" prop="content"></ngx-datatable-column>
        <ngx-datatable-column name="Author" prop="author"></ngx-datatable-column>
        <ngx-datatable-column name="Created at" prop="created_at"></ngx-datatable-column>
        <ngx-datatable-column name="Action" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip-list class="action">
                    <i class="material-icons" [swal]="disableSwal" *ngIf="row.expsr_at == 'Y'"
                       title="Disable" (confirm)="onToggle(row)">
                        visibility_off
                    </i>
                    <i [swal]="enableSwal" *ngIf="row.expsr_at == 'N'" (confirm)="onToggle(row)"
                       title="Enable" class="material-icons">
                        visibility
                    </i>
                    <i class="material-icons" [swal]="deleteSwal" (confirm)="onDelete(row)" title="Delete">
                        delete
                    </i>
                </mat-chip-list>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
    <div class="actions d-flex justify-content-end col-md-8">
        <button routerLink="/" class="btn btn-primary">Back</button>
    </div>
</div>

<swal #deleteSwal text="Are you sure to delete this comment?" type="question" [showCancelButton]="true" [focusCancel]="true"></swal>
<swal #enableSwal text="Are you sure to approve this comment?" type="question" [showCancelButton]="true" [focusCancel]="true"></swal>
<swal #disableSwal text="Are you sure to disapprove this comment?" type="question" [showCancelButton]="true"
    [focusCancel]="true"></swal>
