<div class="home">
    <div class="main-wrap">
        <!-- Banner section -->
        <section class="banner" *ngIf="banners.length > 0">
            <div class="banner-wrap">
                <carousel [interval]="intervalTime" class="carousel">
                    <slide *ngFor="let banner of banners" class="banner">
                        <img [src]="banner.url" alt="{{banner.name}}" class="banner-img"
                             *ngIf="banner.resource_type == 1">
                        <iframe class="banner-img" [src]="banner.url | safe" *ngIf="banner.resource_type == 2">
                        </iframe>
                        <video class="banner-img" *ngIf="banner.resource_type == 3" controls>
                            <source [src]="banner.url + '/' + '#t=0.5' | safe">
                        </video>
                        <div class="container">
                            <div class="banner-info-wrap">
                                <div class="banner-info">
                                    <h1 class="banner-title" *ngIf="banner.name != ''">{{banner.name}}</h1>
                                    <p class="banner-description">{{banner.description}}</p>
                                    <a href="{{banner.target_url}}" class="banner-url" [target]="banner.target_type"
                                       *ngIf="banner.button_text">{{banner.button_text}}</a>
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </section>
        <!-- End Banner section -->

        <!-- Try me section -->
        <section class="try-me" *ngIf="isTryAvailable">
            <div class="container">
                <div class="try-me-wrap">
                    <div class="left-col">
                        <h1 class="try-me-title">Try me</h1>
                        <p class="try-me-description">
                            {{ try_info }}
                        </p>
                        <button class="see-all-btn" routerLink="/tries">
                            {{ 'see_all' | translate }} <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="right-col">
                        <div class="product-container">
                            <div class="product-slideshow">
                                <carousel [interval]="intervalTime" (activeSlideChange)="changeProduct($event)"
                                          class="carousel">
                                    <slide *ngFor="let product of products;let i = index" class="banner">
                                        <a [routerLink]="['/tries/' + product.slug]">
                                            <img class="banner-img"
                                                 [src]="product.file.stre_file_nm ? env.rootHost + product.file.file_cours + '/'
                                                 + product.file.stre_file_nm : env.rootHost + product.file.file_cours"
                                                 alt="Review image" *ngIf="product.resource_type == 1">
                                            <video class="banner-img" *ngIf="product.resource_type == 3" muted
                                                   controls>
                                                <source [src]="env.rootHost + product.file.file_cours + '/' + product.file.stre_file_nm"
                                                        type="video/mp4">
                                                <source [src]="env.rootHost + product.file.file_cours + '/' + product.file.stre_file_nm"
                                                        type="video/ogg">
                                                <source [src]="env.rootHost + product.file.file_cours + '/' + product.file.stre_file_nm"
                                                        type="video/webm">
                                            </video>
                                            <iframe class="banner-img"
                                                    [src]="('https://www.youtube.com/embed/' + product.file.orginl_file_nm + '?autoplay=0&mute=1&loop=1&controls=1&showinfo=0' | safe)"
                                                    *ngIf="product.resource_type == 2"></iframe>
                                        </a>
                                    </slide>
                                </carousel>
                            </div>
                            <div class="production-info">
                                <h1 class="product-name"
                                    routerLink="/tries/{{currentProduct.slug}}">{{currentProduct.cntnts_nm}}</h1>
                                <div class="try-expired-time">
                                    <div class="expired-label-container">
                                        <span class="expired-label">{{ 'will_end_after' | translate }}</span>
                                    </div>
                                    <div class="expired-time">
                                        <div class="time-block">
                                            <div class="count-down-value"><span>{{ days }}</span></div>
                                            <span class="count-down-unit">{{ 'days' | translate }}</span>
                                        </div>
                                        <div class="time-block">
                                            <div class="count-down-value"><span>{{ hours }}</span></div>
                                            <span class="count-down-unit">{{ 'hours' | translate }}</span>
                                        </div>
                                        <div class="time-block">
                                            <div class="count-down-value"><span>{{ minutes }}</span></div>
                                            <span class="count-down-unit">{{ 'minutes' | translate }}</span>
                                        </div>
                                        <div class="time-block">
                                            <div class="count-down-value"><span>{{ seconds }}</span></div>
                                            <span class="count-down-unit">{{ 'seconds' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-number">
                                    <span class="product-number-label">{{ 'number_of_products' | translate }}
                                        / {{ 'number_of_registrations' | translate }}</span>
                                    <span class="product-number-value">{{ currentProduct.event_trgter_co }} / {{
                                        currentProduct.total_apply }}
                                    </span>
                                </div>
                                <div class="product-price">
                                    <span class="sale-price" *ngIf="currentProduct.event_pc">
                                        {{ currentProduct.event_pc | formatnumber }} VND
                                    </span>
                                    <span class="sale-price" *ngIf="!currentProduct.event_pc">
                                        -,- VND
                                    </span>
                                    <span class="original-price" *ngIf="currentProduct.goods_pc">
                                        {{ currentProduct.goods_pc | formatnumber }} VND
                                    </span>
                                </div>
                                <div class="action-block">
                                    <div class="list-users-liked">
                                        <ng-container *ngFor="let user of currentProduct.users_liked; let i = index;">
                                            <div class="circle-avt"
                                                 [ngClass]="{'need-to-hide': i > 1}" *ngIf="i < 3">
                                                <img [src]="user.pic ? env.rootHost + user.pic : 'assets/images/user.png'"
                                                     alt="" title="{{user.id ? user.id : user.reg_name}}" class="user-avt pointer" *ngIf="i < 4"
                                                     routerLink="/usr/{{user.slug}}">
                                            </div>
                                        </ng-container>
                                        <span class="number-of-likes" *ngIf="currentProduct.likes > 0" (click)="usersLikeDialog(currentProduct.cntnts_no, 'try')">{{
                                                currentProduct.likes | numberlike}}</span>
                                    </div>
                                    <div class="action">
                                        <button class="like-btn" [ngClass]="{'active': currentProduct.is_liked}"
                                                [appAuth] (action)="toggleLikeTry(currentProduct)">{{
                                            'like' | translate }}</button>
                                        <button [disabled]="currentProduct.isExpired" *ngIf="!currentProduct.is_joined"
                                                [appAuth] (action)="apply(currentProduct)" class="join-btn">{{ 'join' |
                                            translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Try me section -->

        <!-- Review section -->
        <section class="review">
            <div class="review-wrap">
                <div class="container">
                    <div class="review-header">
                        <div class="left-col">
                            <h1 class="review-title">{{ 'review' | translate }}</h1>
                            <div class="review-type">
                                <button type="button" class="type-btn" [ngClass]="{'active': typeReview == 'popular'}"
                                        (click)="getReviewByType('popular')">
                                    {{ 'popular' | translate }}
                                </button>
                                <button type="button" class="type-btn" [ngClass]="{'active': typeReview == 'recently'}"
                                        (click)="getReviewByType('recently')">
                                    {{ 'recently' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="right-col">
                            <button type="button" class="type-btn see-all-btn" routerLink="/reviews">
                                {{ 'see_all' | translate }} <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="review-body">
                    <div class="review-post" *ngFor="let review of reviews; let i = index;" data-id="{{ review.cntnts_no }}"
                         [ngClass]="{'first': i == 0}">
                        <div class="post-header">
                            <div class="user-block pointer" >
                                <img [src]="review.author_avatar ? env.rootHost + review.author_avatar : '/assets/images/user.png'"
                                    alt="" class="user-avt"  routerLink="/usr/{{review.author_slug}}">
                                <div class="user-info">
                                    <span class="user-name"  routerLink="/usr/{{review.author_slug}}"
                                          [innerHtml]="review.author_ds ? review.author_ds : review.author_name | safeHtml"></span>
                                    <span class="number-of-follows">{{ review.author_follows }} {{ 'follower' |
                                        translate }}</span>
                                </div>
                            </div>
                            <button type="button" class="follow-btn" [ngClass]="{'active': review.followed == 1}"
                                    *ngIf="user.user_no != review.user_no"
                                [appAuth] (action)="toggleFollowFimer(review.author_id)">
                                <ng-container *ngIf="review.followed != 1">
                                    <span title="{{ 'follow' | translate }}">{{ 'follow' | translate }}</span> <i class="material-icons">add</i>
                                </ng-container>
                                <ng-container *ngIf="review.followed == 1">
                                    <span title="{{ 'unfollow' | translate }}">{{ 'follow' | translate }}</span>
                                    <i class="material-icons">done</i>
                                </ng-container>
                            </button>
                        </div>
                        <div class="post-body">
                            <a [routerLink]="['/reviews/detail/' + review.slug]">
                                <img class="main-img" [src]="review.images ? env.rootHost + review.images : 'https://via.placeholder.com/900'"
                                alt="Review image">
                            </a>
                            <p class="post-title">
                                    {{ review.goods_nm }}
                                </p>
                            <p class="post-content">
                                {{ review.review_short }}
                            </p>
                            <a routerLink="/reviews/detail/{{review.slug}}" class="see-more-link">{{ 'see_more' |
                                translate }}</a>
                        </div>
                        <div class="post-footer">
                            <div class="action-block">
                                <button class="action-btn" [ngClass]="{'active': review.is_liked == 1}" [appAuth]
                                        (action)="toggleLikeReview(review.review_no, i)">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                <span class="number-of-like" (click)="usersLikeDialog(review.review_no, 'review')">{{ review.like_number | numberlike }}</span>
                            </div>
                            <div class="action-block">
                                <button class="action-btn" routerLink="/reviews/detail/{{review.slug}}">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                </button>
                                <span class="number-of-like">{{ review.comment_number | numberlike }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Review section -->

        <!-- Advertisement section -->
        <section class="advertisement" *ngIf="ads.length > 0">
            <div class="advertisement-wrap">
                <div class="advertisement-item" *ngFor="let item of ads; let i = index;" [ngClass]="{'first': i == 0}">
                    <a href="{{item.target_url}}" [target]="item.target_type">
                        <img [src]="env.rootHost + item.url" alt="item.name" class="ad-image">
                    </a>
                </div>
            </div>
        </section>
        <!-- End Advertisement section -->

        <!-- Tip section -->
        <section class="tip" *ngIf="tips.length > 0">
            <div class="container">
                <div class="tip-wrap">
                    <div class="row">
                        <div class="col-sm-12 tip-header">
                            <h1 class="tip-title">{{ 'fime_tips' | translate }}</h1>
                            <a [routerLink]="['/tips']" class="type-btn see-all-btn">
                                {{ 'see_all' | translate }} <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 tip-body">
                            <div class="inner-body">
                                <div class="video-block covers">
                                    <div class="img-container img">
                                        <carousel [interval]="intervalTime" class="carousel">
                                            <slide class="banner" *ngIf="mainTip.cover_img1">
                                                <img class="banner-img pointer" [src]="env.rootHost + mainTip.img_url + '/' + mainTip.cover_img1" [routerLink]="['/tips/' + mainTip.ti_id]">
                                            </slide>
                                            <slide class="banner"  *ngIf="mainTip.cover_img2">
                                                <img class="banner-img pointer" [src]="env.rootHost + mainTip.img_url + '/' + mainTip.cover_img2" [routerLink]="['/tips/' + mainTip.ti_id]">
                                            </slide>
                                            <slide class="banner" *ngIf="mainTip.cover_img3">
                                                <img class="banner-img pointer" [src]="env.rootHost + mainTip.img_url + '/' + mainTip.cover_img3" [routerLink]="['/tips/' + mainTip.ti_id]">
                                            </slide>
                                            <slide class="banner" *ngIf="mainTip.cover_img4">
                                                <img class="banner-img pointer" [src]="env.rootHost + mainTip.img_url + '/' + mainTip.cover_img4" [routerLink]="['/tips/' + mainTip.ti_id]">
                                            </slide>
                                        </carousel>
                                    </div>
                                </div>
                                <div class="video-list-block pointer" [routerLink]="['/tips/' + mainTip.ti_id]">
                                    <div class="video-content">
                                        <a class="video-title">{{ mainTip.subject }}</a>
                                        <p class="time">
                                            {{ mainTip.time }} {{ mainTip.timeUnit | translate }} {{ 'ago' | translate }}
                                        </p>
                                        <p class="tip_head">{{mainTip.tips_desc_head }}</p>
                                        <p class="tip_body">{{mainTip.tips_desc_body }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="post-list-block">
                                <ng-container *ngFor="let item of listTip; let i = index;">
                                    <a class="post-item pointer" *ngIf="i < 3">
                                        <div class="image-container">
                                            <img class="banner-img post-img" [src]="env.rootHost + item.img_url + '/' + item.cover_img1" [routerLink]="['/tips/' + item.ti_id]">
                                        </div>
                                        <div class="content post-title" [routerLink]="['/tips/' + item.ti_id]">
                                            <h2>
                                                {{item.subject}}
                                            </h2>
                                            <p class="time">
                                                {{ item.time }} {{ item.timeUnit | translate }} {{ 'ago' | translate }}
                                            </p>
                                        </div>
                                    </a>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Tip section -->

        <!-- Hot Fimer section -->
        <section class="hot-fimer">
            <div class="review-wrap">
                <div class="container">
                    <div class="review-header">
                        <div class="left-col">
                            <h1 class="review-title">{{ 'hot_fimers' | translate }}</h1>
                            <div class="review-type">
                                <button type="button" class="type-btn"
                                        [ngClass]="{'active' : hotFimersFilterType === 'weekly'}"
                                        (click)="searchHotFimers('weekly')">{{ 'weekly' | translate }}</button>
                                <button type="button" class="type-btn"
                                        [ngClass]="{'active' : hotFimersFilterType === 'monthly'}"
                                        (click)="searchHotFimers('monthly')">{{ 'monthly' | translate }}</button>
                                <button type="button" class="type-btn"
                                        [ngClass]="{'active' : hotFimersFilterType === 'all'}"
                                        (click)="searchHotFimers('all')">{{ 'yearly' | translate }}</button>
                            </div>
                        </div>
                        <div class="right-col">
                            <button type="button" class="type-btn see-all-btn" (click)="goToFimersPage()">
                                {{ 'see_all' | translate }} <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="review-body">
                    <div class="review-post" *ngFor="let item of hotLeftFimers; let i = index;"
                         [ngClass]="{'first': i == 0}">
                        <div class="post-header">
                            <div class="user-block pointer" routerLink="/usr/{{item.slug}}">
                                <div class="avt-block">
                                    <img *ngIf="item.pic; else orderAvatar" [src]="env.rootHost + item.pic" alt=""
                                         class="user-avt">
                                    <ng-template #orderAvatar>
                                        <img [src]="defaultUserAvatar" alt="" class="user-avt">
                                    </ng-template>
                                    <div class="fimer-rank"
                                         [ngClass]="{'first': i == 0, 'second': i==1, 'third': i==2}">
                                        <span>#{{i + 1}}</span>
                                    </div>
                                </div>
                                <span class="user-name" [innerHtml]="item.id ? item.id : item.reg_name | safeHtml"></span>
                            </div>
                            <button type="button" class="follow-btn" [ngClass]="{'active': item.followed == 1}"
                                    *ngIf="user.user_no != item.user_no"
                                    [appAuth] (action)="toggleFollowFimer(item.user_no)">
                                <ng-container *ngIf="item.followed != 1">
                                    <span title="{{ 'follow' | translate }}">{{ 'follow' | translate }}</span> <i
                                        class="material-icons">add</i>
                                </ng-container>
                                <ng-container *ngIf="item.followed == 1">
                                    <span title="{{ 'unfollow' | translate }}">{{ 'follow' | translate }}</span>
                                    <i class="material-icons">done</i>
                                </ng-container>
                            </button>
                        </div>
                        <div class="post-body">
                            <div class="fimer-info">
                                <div class="col-info pointer" routerLink="/usr/{{item.slug}}/reviews">
                                    <div *ngIf="item.number_of_reviews > 1; else other_number_of_reviews">
                                        <div>{{item.number_of_reviews}}</div>
                                        <div>{{ 'fimers.info.reviews' | translate }}</div>
                                    </div>
                                    <ng-template #other_number_of_reviews>
                                        <div>{{item.number_of_reviews}}</div>
                                        <div>{{ 'fimers.info.review' | translate }}</div>
                                    </ng-template>
                                </div>
                                <div class="col-info pointer" routerLink="/usr/{{item.slug}}/followers">
                                    <div *ngIf="item.number_of_followers > 1; else other_number_of_followers">
                                        <div>{{item.number_of_followers}}</div>
                                        <div>{{ 'fimers.info.followers' | translate }}</div>
                                    </div>
                                    <ng-template #other_number_of_followers>
                                        <div>{{item.number_of_followers}}</div>
                                        <div>{{ 'fimers.info.follower' | translate }}</div>
                                    </ng-template>
                                </div>
                                <div class="col-info pointer" routerLink="/usr/{{item.slug}}/followings">
                                    <div *ngIf="item.number_of_followings > 1; else other_number_of_followings">
                                        <div>{{item.number_of_followings}}</div>
                                        <div>{{ 'fimers.info.followings' | translate }}</div>
                                    </div>
                                    <ng-template #other_number_of_followings>
                                        <div>{{item.number_of_followings}}</div>
                                        <div>{{ 'fimers.info.following' | translate }}</div>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="lastest-review">
                                <div class="col-review" *ngFor="let review of item.reviews"
                                     routerLink="/reviews/detail/{{review.slug}}">
                                    <img *ngIf="review.files.stre_file_nm; else imageNull" [src]="env.rootHost + review.files.file_cours + '/' + review.files.stre_file_nm"
                                         alt="">
                                    <ng-template #imageNull>
                                        <img [src]="defaultImage" alt="">
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-list-fimer">
                        <div class="fimer-item" *ngFor="let item of hotRightFimers; let i = index;">
                            <div class="user-block">
                                <div class="avt-block pointer" routerLink="/usr/{{item.slug}}">
                                    <img *ngIf="item.pic; else orderAvatar" [src]="env.rootHost + item.pic" alt=""
                                         class="user-avt">
                                    <ng-template #orderAvatar>
                                        <img [src]="defaultUserAvatar" alt="" class="user-avt">
                                    </ng-template>
                                    <div class="fimer-rank"
                                         [ngClass]="{'first': i == 0, 'second': i==1, 'third': i==2}">
                                        <span>#{{i + 4}}</span>
                                    </div>
                                </div>
                                <div class="user-info pointer" routerLink="/usr/{{item.slug}}">
                                    <span class="user-name" [innerHtml]="item.id ? item.id : item.reg_name | safeHtml"></span>
                                    <span class="number-of-follows"
                                          *ngIf="item.number_of_followers > 1; else other_number_of_followers">{{item.number_of_followers}}
                                        {{ 'fimers.info.followers' | translate }}</span>
                                    <ng-template #other_number_of_followers>
                                        <span class="number-of-follows">{{item.number_of_followers}} {{
                                            'fimers.info.follower' | translate }}</span>
                                    </ng-template>
                                </div>
                            </div>
                            <button type="button" class="follow-btn" [ngClass]="{'active': item.followed == 1}"
                                    *ngIf="user.user_no != item.user_no"
                                    [appAuth] (action)="toggleFollowFimer(item.user_no)">
                                <ng-container *ngIf="item.followed != 1">
                                    <span title="{{ 'follow' | translate }}">{{ 'follow' | translate }}</span> <i
                                        class="material-icons">add</i>
                                </ng-container>
                                <ng-container *ngIf="item.followed == 1">
                                    <span title="{{ 'unfollow' | translate }}">{{ 'follow' | translate }}</span>
                                    <i class="material-icons">done</i>
                                </ng-container>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hot Fimer section -->

        <!-- Top Hashtag section -->
        <section class="top-hashtag">
            <div class="container">
                <div class="top-hashtag-wrap">
                    <div class="hashtag-header">
                        <h1 class="title">{{ 'top_hashtag' | translate }}</h1>
                    </div>
                    <div class="list-hashtag">
                        <button class="hashtag" [routerLink]="['/reviews/all']" [queryParams]="{hashtag: item.name}" *ngFor="let item of hashtags; let i = index;">
                            <img src="/assets/icons/crown-golden-icon.png" alt="icon" *ngIf="i == 0">
                            <img src="/assets/icons/crown-silver-icon.png" alt="icon" *ngIf="i == 1">
                            <img src="/assets/icons/crown-bronze-icon.png" alt="icon" *ngIf="i == 2">
                            <ng-container *ngIf="i > 2">
                                {{i + 1}}.
                            </ng-container>
                            {{ item.name }}
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Top Hashtag section -->
    </div>
</div>
