<div id="forgotPasswordMasterWrap">
    <div class="forgot-password-wrapper">
        <div class="forgot-password-container">
            <div class="forgot-password-body">
                <div class="forgot-password-content">
                    <div class="form-header">
                        <h1 class="title">{{ 'forgot_password' | translate}}</h1>
                        <p *ngIf="!submitted">{{ 'enter_email_to_reset_password' | translate}}</p>
                    </div>
                    <div class="form-content" *ngIf="!isSent">
                        <form [formGroup]="loginForm" method="post">
                            <div class="form-control-group mb-20">
                                <label class="label" for="email">{{ 'email' | translate}}:</label>
                                <input type="email" id="email" class="form-control input-full-width" [(ngModel)]="model.email"
                                       formControlName="email" name="email" placeholder="{{ 'email' | translate}}"
                                       [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
                                <div *ngIf="submitted && form.email.errors" class="email-valid">
                                    <small class="form-text text-muted" *ngIf="form.email.errors.required">{{ 'email_empty' | translate}}</small>
                                    <small class="form-text text-muted" *ngIf="form.email.errors.email">{{ 'email_invalid' | translate}}</small>
                                </div>
                            </div>
                            <div class="form-control-group mb-20 center">
                                <button type="button" class="btn-success" aria-disabled="false"
                                        tabindex="0" (click)="onSubmit()"> {{ 'confirm' | translate}} </button>
                            </div>
                            <div class="form-control-group navigation">
                                <div class="link-item">
                                    <a [routerLink]="['/login']">{{ 'back_to_login' | translate}}</a>
                                </div>
                                <div class="link-item">
                                    <a [routerLink]="['/register']">{{ 'register' | translate}}</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="success-notification" *ngIf="isSent">
                        <p>{{ 'forgot_password_message' | translate}}</p>
                        <a [routerLink]="['/']">
                            <button type="button" class="btn-success btn-full-width" aria-disabled="false"
                                    tabindex="0"> {{ 'homepage' | translate}} </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
