@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";

.app-admin-partner-manager {
    .multi-action {
        margin-top: 30px;
    }
    .action{
        i{
            cursor: pointer;
            margin-right: 15px;
            color: #b0b0b0;
            font-size: 20px;
            margin-top: 6px;
        }
    }
    .btn {
        i {
            font-size: 20px;
        }
    }
    .search-control{
        .row{
           .col-2{
               .form-group{
                   .none-label{
                       margin-top: 30px;
                   }
               }
           }
        }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
}
