@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";

.admin-images-ai {
    // // ngx-datatable{
    // //     ngx-datatable-column{
    // //         text-align: center !important;
    // //     }
    // // }
    // .ngx-datatable .datatable-body .datatable-body-row > div {
    //     align-items: center !important;
    //  }
    .multi-action {
        margin-top: 30px;
    }
    .font-15 {
        font-size: 15px;
    }
    .mat-form-field-autofill-control {
        background-color: transparent;
    }
    .action{
        i{
            cursor: pointer;
            margin-right: 15px;
            color: #b0b0b0;
            font-size: 20px;
            margin-top: 6px;
        }
    }
    .btn {
        i {
            font-size: 20px;
        }
    }
    .op-0 {
        opacity: 0;
    }
    .ng-star-inserted {
        word-break: break-all
    }
    .red-color {
        color: red;
    }
}
.process-keyword {
    small  {
        color: #06a1ff;
    }
}
