.btn-menu {
  margin-left: 7px;
}

#sidebar,
#sidebar-normal {
  width: 230px;
  position: fixed;
  top: 0px;
  font-size: 18px;
  bottom: 0;
  background: #2f353a;
  color: #fff;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  z-index: 999;
  -ms-overflow-y: auto;
  overflow-y: auto;

  span{
    font-size: 14px;
    text-transform: uppercase;
  }

  .mat-icon {
    font-size: 20px;
  }

  .mat-nav-list {
    width: 100%;
    b{margin-left: 30px;}
    .mat-list-item-content {
      color: #fff !important;
    }

    a {
      &.mat-list-item{
        padding: 10px 0;
        margin: 10px auto;
        height: unset;
      }
      .mat-icon {
        margin-right: 10px;
        color: #fff;
      }

      display: block;
      color: #fff;
    }
  }
}

#sidebar-normal {
  width: 55px;
  left: -250px;
}

.nested-menu {
  .nested {
    list-style-type: none;
  }

  .submenu {
    display: none;
    height: 0;
  }

  & .expand {
    &.submenu {
      display: block;
      list-style-type: none;
      height: auto;
      margin: 0;

      li {
        a {
          padding: 10px;
          display: block;
          font-size: 16px;
        }
      }
    }
  }
}

#sidebar .mat-list-item.active, .mat-list-item:active, .mat-list-item:focus, .mat-list-item:hover {
  color: #fff;
  background-color: #20a8d8;
}

#sidebar  .nested-menu.active > a {
  color: #fff;
  background-color: #20a8d8;
}

#sidebar  .nested-menu:has(ul li.active) > a {
  color: #fff;
  background-color: #20a8d8;
}

#sidebar .mat-nav-list .nested-menu .nested li.active a {
  color: #20a8d8;
}

@media screen and (max-width: 992px) {
  #sidebar {
    left: -250px;
  }
  .push-right {
    #sidebar {
      left: 0 !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .main-container {
    left: 0px;
  }
}
