@import '~scss/mixins';
@import '~scss/variables';

.img-box-custom {
  display: flex;
  padding: 0;
  flex-wrap: wrap;

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  mat-card-subtitle {
    label {
      border: 1px solid #999999;
      width: 74px;
      height: 74px;
      background-image: url("assets/icons/plus-icon.png");
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .select-img {
      display: none;
    }
  }

  mat-card-content {

  }

  .resource-img {
    position: relative;
    width: 75px;
    margin-right: 10px;
    margin-bottom: 10px;

    img {
      opacity: 1;
      display: block;
      width: 75px;
      height: 75px;
      transition: .5s ease;
      backface-visibility: hidden;
      object-fit: cover;
      border-radius: 5px;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      height: 50%;

      .mat-card {
        padding: 0;
      }
    }

    &:hover .middle {
      opacity: 1;
    }

    .overlay-action {
      height: 100%;
      background: none !important;
      position: relative;

      mat-card-actions {
        position: relative;
        top: 75%;
        margin: 0;

        .mat-button {
          margin: 0;
          padding: 0;
          min-width: 32px;
        }

      }
    }

    &.default {
      .overlay-action {
        mat-card-actions {
          top: 60%;
          background-color: #fff;
          padding-top: 0;
        }
      }
    }
  }

  .resource-img:first-child {
    margin-left: 0;
  }
}
