@import "~scss/mixins";
@import "~scss/variables";

:host {
    display: block;
    background: #EBEFF5;
    height: 100%;
}

.hidden{
    display: none;
}

.main-container {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    &.auth{
        left: 250px;
        padding: 20px;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.admin-page{
    margin-top: 100px;
}
.fistar-header {
    padding: 10px;
    padding-left: 40px;
    background: #e2e2e2;
    margin: -20px -20px 20px -40px;
    font-size: 15px;
    strong{
        color: #06a1ff;
    }
    button{
        background: #06a1ff;
        color: #FFF;
        border: 0;
        border-radius: 30px;
        padding: 5px 20px;
        font-size: 15px;
        &:hover{
            background: #ff069a;
        }
    }
}
