@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";

#resetPasswordMasterWrap {
  font-size: 13px;
  font-family: 'Roboto-Regular';
  margin: 40px 0;
  background-color: #fff;

  .forgot-password-wrapper {

    .forgot-password-container {

      .forgot-password-body {
        display: flex;
        width: 100%;
        flex: 1;
        overflow: auto;
        position: relative;

        .forgot-password-content {
          display: block;
          margin: auto;
          width: 100%;
          max-width: 490px;
          line-height: 1.5;

          .form-header {
            margin-bottom: 14px;

            .title {
              text-align: center;
              margin-bottom: 5px;
              font-size: 16px !important;
              color: #222;
            }

            p {
              text-align: center;
              color: #222;
            }
          }

          .form-content {

            form {
              width: 100%;
              line-height: 1.25;

              .label {
                color: #000;
                display: block;
                font-weight: 600;
                margin-bottom: 8px;
              }

              .input-full-width {
                outline: none;
                font-family: 'Roboto-Regular';
                font-size: 13px;
                border-radius: 3px;
                padding: 11px 16px;
                width: 100%;
                background-color: #ffffff;
                border: 1px solid #eee;
                color: #000;
                line-height: 1.15;
              }

              input.input-full-width:focus {
                outline: 0;
                background-color: #fff;
                border-color: #0099ff;
              }

              .btn-success {
                text-transform: uppercase;
                font-weight: 600;
                outline: none;
                cursor: pointer;
                font-size: 12px;
                border-radius: 35px;
                padding: 10px 0;
                color: #fff;
                background-color: #4267b2;
                border-color: transparent;
                box-shadow: none;
                width: 50%;

                &:hover {
                  background-color: #036;
                }
              }

              .btn-full-width {
                width: 100%;
              }

              .is-invalid {
                border-color: #bb0000;
              }

              .invalid {
                border-color: $error_color;
              }

              .success-notification {
                color: $success_color;
              }

              .error-notification {
                color: $error_color;

                a {
                  color: $error_color;
                  font-weight: bolder;
                  text-decoration: underline;

                  &:hover {
                    color: red;
                  }
                }
              }

              #emailHelp {
                display: none;
              }

              .navigation {
                display: flex;
                justify-content: space-between;

                .link-item {
                  a {
                    font-weight: 600;
                    color: #0099ff;
                    text-decoration: underline;

                    &:hover {
                      color: #4267b2;
                    }
                  }
                }
              }

              small {
                margin-top: 4px;
                font-size: 12px;
                line-height: 1.5;
                color: #bb0000 !important;
              }
            }
          }
        }
      }
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-32 {
  margin-bottom: 28px;
}

@include phone {
  #resetPasswordMasterWrap {
    margin: 20px 0;
    padding: 0 20px;
    background-color: #fff;
    .forgot-password-wrapper {
      padding: 0;

      .forgot-password-container {
        height: auto;
        border: none;
      }
    }
  }
}
