@import "~scss/mixins";
@import "~scss/variables";
@import "~scss/font_imports";
@import "~scss/custom";

.admin-campaign-review-component{
    .top{
        margin-bottom: 1rem;

        .admin-heading{
            font-weight: 600;
            font-size: 30px;
        }
    }
    .multi-action {
        margin-top: 30px;
    }
    .action{
        i{
            cursor: pointer;
            margin-right: 15px;
            color: #b0b0b0;
            font-size: 20px;
            margin-top: 6px;
        }
    }
    .btn {
        i {
            font-size: 20px;
        }
    }
    .search-control{
        .row{
           .col-2{
               .form-group{
                   .none-label{
                       margin-top: 30px;
                   }
               }
           }
        }
    }
    .title{
        label{
            font-weight: bold;
            margin-right: 15px;
        }
        span{
            font-weight: normal;
        }
    }
}

.resize{
    width: 100%;
    max-height: 300px;
}
.content{
    resize: none;
    height: 300px;
}
textarea{
    resize: none;
    height: 300px;
    width: 100%;
}.navbar{
    margin-bottom: 1rem;
    .collapse{
        .navbar-nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}
.content-review {
    height: 300px;
    padding: 5px;
    border: 1px solid #8b8b8b;   
    margin-bottom: 30px; 
}
.title-big {
    font-size: 16px;
}
.title-date {
    font-size: 13px;
    .date {
        margin-right: 20px;
    }
}
.url-review{
    border: 1px solid #8b8b8b;  
    padding: 10px; 
}