<div class="component-admin-try">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div class="admin-heading">
                Winner
            </div>
            <div>
                <button class="btn btn-default" routerLink="/admin/try"><i class="material-icons align-text-bottom">
                    arrow_back
                </i> <span>Back</span></button>
            </div>
        </div>
    </div>
    <mat-card class="try-details">
        <div class="row">
            <div class="col-12"><label>Name: </label> {{try.sj}}</div>
            <div class="col-12"><label>Join Max Count:</label> {{try.event_trgter_co}}</div>
        </div>
    </mat-card>
    <mat-card class="search-control">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Search name or Id</label>
                    <div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="" [(ngModel)]="filter.name">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label>Status</label>
                    <div>
                        <mat-form-field class="full-width">
                            <mat-select [(ngModel)]="filter.is_selected">
                                <mat-option value="-1">All</mat-option>
                                <mat-option value="1">Selected</mat-option>
                                <mat-option value="0">Un-Selected</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="pull-right">
                    <button class="btn btn-primary mr-1" (click)="onSearch()"><i class="material-icons align-text-bottom">
                        search
                    </i> <span>Search</span></button>
                    <button class="btn btn-default mr-1" (click)="onReset()"><i class="material-icons align-text-bottom">
                        replay
                    </i> <span>Reset</span></button>
                    <button class="btn btn-default" (click)="onDownload()" *ngIf="tries && tries.length > 0"><i class="material-icons align-text-bottom">
                        save_alt
                    </i> <span>Excel</span></button>
                </div>
            </div>
        </div>
    </mat-card>

    <ngx-datatable #myTable class="material" [rows]="tries" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
        [count]="total" [offset]="pageIndex-1" [limit]="pageSize" [externalPaging]="true" (page)='setPage($event)'
        [externalSorting]="true" (sort)="onSort($event)" [rowHeight]="'auto'" >
        <ngx-datatable-column name="ID" [canAutoResize]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.user_no }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" prop="name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.reg_name }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Registerd Date" prop="created_at" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.created_at | date : 'yyyy/MM/dd HH:mm'}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Selected" prop="number_of_selected" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.number_of_selected }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Likes" prop="number_of_likes" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.number_of_likes }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Follower" prop="number_of_followers" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.number_of_followers }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Reviews" prop="number_of_reviews" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span>{{row.number_of_reviews }}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="150" name="Action" [sortable]="false" [canAutoResize]="false" [resizeable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip-list class="action">
                    <i class="material-icons" [swal]="unselectSwal" *ngIf="row.slctn_at == 'Y'" (confirm)="onToggle(row)" title="Un-select">
                        visibility_off
                    </i>
                    <i class="material-icons" [swal]="selectSwal" *ngIf="row.slctn_at == 'N'" (confirm)="onToggle(row)" title="Select">
                        visibility
                    </i>
                    <i class="material-icons" *ngIf="row.slctn_at == 'Y' && !row.dlvy_dt"
                       (click)="editDeliveryInfo(row)" title="Delivery Info" style="color: red !important;">
                        local_shipping
                    </i>
                    <i class="material-icons" *ngIf="row.slctn_at == 'Y' && row.dlvy_dt"
                       (click)="editDeliveryInfo(row)" title="Delivered" style="color: darkgreen !important;">
                        local_shipping
                    </i>
                </mat-chip-list>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

<swal #unselectSwal text="Are you sure to un-select?" type="question" [showCancelButton]="true" [focusCancel]="true"></swal>
<swal #selectSwal text="Are you sure to select?" type="question" [showCancelButton]="true" [focusCancel]="true"></swal>
