.portlet-body {
  .ng-star-inserted .groub-social {
    span {
      font-size: 24px !important;
    }
    i {
        color: #787878;
    }
  }
}

// Home campaign
.mat-card {
  .row {
    &:nth-child(2) {
      .col-md-2 {
        &:nth-child(1){
          .mat-form-field {
            display: block;
          }
        }
      }
    }
  }
  .groub {
    div {
      display: flex;
      align-items: center;
      .campain_state {
        margin-right: 10px;
      }
      .campain_state1 {
        margin-right: 10px;
      }
    }
  }
}

// Edit campaign

.app-admin-campaign-edit .ng-touched .groub_item {
  ul {
    padding-left: 0;
    li {
      margin: 1rem 1rem 1rem 0;
    }
  }
  button {
    background: transparent;
    border: 1px solid #e1e1e1;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px;
  }
}
.ng-touched {
  .form-group .form-control {
    margin-bottom: 5px;
  }
  .period .cdk-text-field-autofill-monitored {
    background: transparent;
  }
  .itemcheck_groub .itemcheck {
    margin-right: 30px;
    .checkmark {
      width: 20px;
      height: 20px;
      &::after {
        left: 6px;
        top: -1px;
        width: 8px;
        height: 15px;
        border-width: 0 2px 2px 0;
      }
    }
  }
}

// Matching fistar

.portlet-body {
  .ng-star-inserted {
    .matching_influencer_channel {
      i {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        font-size: 20px;
      }
    }
  }
}
.app-admin-campaign-matching-fistar {
  .table-bordered {
    td {
      font-size: 18px;
      vertical-align: inherit;
      text-align: center;
    }
  }
}

// review detail
.app-admin-campaign-review-detail {
  .content.ng-untouched {
    width: 100%;
    display: block;
    margin: 15px 0;
    padding: 15px;
  }
  .btn-default {
    margin-right: 10px;
  }
  .title {
    margin-bottom: 10px;
  }
  .row.text-right {
    padding: 0 30px;
    display: block;
    textarea {
      margin-top: 50px;
      padding: 15px;
    }
  }
}
.modal-custom {
  .m-body {
    p.title {
      color: black;
      font-weight: 600;
      margin-top: 15px;
    }
    input {
      padding: 5px 15px;
    }
    .step {
      table {
        width: 100%;
        border-collapse: collapse;
        tr {
          td.first {
            background-color: #f5f5f5 !important;
            width: 30%;
          }
          td {
            border: 1px solid black;
            padding: 15px;
            input {
              width: 100%;
              background-color: white;
              border: 1px solid #e1e1e1;
              border-radius: 5px;
            }
            .groub {
              display: flex;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
  .m-foot {
    button {
      margin: 0 8px;
    }
  }
}

// matching campaign

.app-admin-campaign-report {   
    .col-md-2 {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.matching_channel_child {
    width: 100%;
    i{
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }
}
.matching_influencer_channel .item_channel_mathching_start {
   
}

.portlet-body {
    td{
        text-align: center;
    }
}



.app-admin-campaign-review{
   .table-bordered td {
  text-align: center;
  vertical-align: inherit ;
}
}

.app-admin-campaign .area-table .portlet-body {
  overflow-x: hidden;
  .matching_influencer_channel .item_channel_mathching_start {
    i{
      margin-right: 5px;
    }
  }
}
.portlet-body {
  overflow-x: hidden;
}
