@import url('https://fonts.googleapis.com/css?family=Exo');

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Agency-Fb';
  src: url('/assets/fonts/agency-fb.ttf') format("opentype");
}
@font-face {
  font-family: 'Agency-Fbb';
  src: url('/assets/fonts/agency-fb-bold.ttf') format("opentype");
}