$gradient_left:#FFB2BA;
$gradient_right:#EB5C88;
$main_color:#EB5C88;
$common_font_size: 14px;
$common_color: #222222;
$gray_color: #333333;
$label_color: #828282;
$primary_color: #50b2c3;
$text_color: #4b4b4b;
$roboto_font: 'Roboto', sans-serif;
$exo_font: 'Exo', sans-serif;
$error_color: #bb0000;
$success_color: #4BB543;
$accent_color: #5dcfe3;
